
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<div style="overflow-y: auto;height: 590px;">
        <div class="col-sm-12 mbtm20">
            <h2 class="text-center">Time Held Report</h2>
        </div>
        <div *ngIf="reportsArryerror" style="color: red;">{{reportsArryerror}}</div>
        <div>
    <table style="width:80%"  *ngIf="!reportsArryerror">
        <tr>
            <td>
                    <h5 class="f-bold">Number of Items =  {{reportsArry.length}}</h5>
            </td>
            <td>
                    <h5 class="f-bold">Average Number of Days Held=  {{count}}</h5>
            </td>
        </tr>
       
    </table>
        </div>
        <div class="mtop70 mbtm20"  *ngIf="!reportsArryerror">
            <table style="width:80%" border=1>
                <tr>
                    <th style="line-height: 3;text-align: center;">Item Number</th>
                    <th style="line-height: 3;text-align: center;">Item Type</th>
                    <th style="line-height: 3;text-align: center;">Holder</th>
                    <th style="line-height: 3;text-align: center;">Days Held</th>
                    <th style="line-height: 3;text-align: center;">Date Received</th>
                </tr>
                <tr *ngFor = "let item of reportsArry">
                        <th style="line-height: 3;text-align: center;">{{item.itemUniqueId}}</th>
                        <th style="line-height: 3;text-align: center;">{{item.itemType}}</th>
                        <th style="line-height: 3;text-align: center;">{{item.holder}}</th>
                        <th style="line-height: 3;text-align: center;">{{item.daysHeld}}</th>
                        <th style="line-height: 3;text-align: center;">{{item.addItem | date:'yyyy-MM-dd hh:mm:s.SSS'}}</th>
                    </tr>
            </table>
        </div>
    </div>  