<div class="fsize16 f-bold">Items Sent By User Report</div>
<div class="hr12"></div>
<div class="row">
        <form>
                <div *ngIf="error2" class="mtop20 mbtm20">
                        <span class="colorRed">Please Select Username</span>
                    </div>
                    <div *ngIf="error1" class="mtop20 mbtm20">
                            <span class="colorRed">Sorry! Results not found.</span>
                        </div>
               <div class="col-sm-12"> 
                <div class="col-sm-4">
                        <table class="width100percent">
                            <tr>                            
                                <td> <br>
                                        <div class="">User Name :</div>
                                       
                                        <ng2-completer name="reciever" [(ngModel)]="item.reciever" [datasource]="userArr" (click)="itemreciever(item.reciever)"
                                        [minSearchLength]="0" [matchClass]="matchClass" [autofocus]="true" auto-match="true">
                                    </ng2-completer>
                                </td>
                            </tr>
                        </table>
                    </div>     
                    <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">From Date :</div>
                                    <my-date-picker name="FromDate" class="mtop20" [options]="myDatePickerOptions"
                                     [(ngModel)]="FromDate"  (dateChanged)="onDateChanged($event,FromDate,ToDate)"
                                    required></my-date-picker>
                                    <!-- <input type="date" class="mright10"  name="FromDate" [(ngModel)]="FromDate"  class="mright10"><img src="../../../../assets/imgs/cal.gif"> -->
                                </td>
                            </tr>
                            <!-- <tr>                            
                                <td>
                                        <div class="">Item Number :</div>
                                        <input type="text">   
                                </td>
                            </tr> -->
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">To Date :</div>
                                    <my-date-picker name="ToDate" class="mtop20" [options]="myDatePickerOptions"
                                     [(ngModel)]="ToDate"  (dateChanged)="onDateChanged($event,FromDate,ToDate)"
                                    required></my-date-picker>
                                    <!-- <input type="date" class="mright10" name="ToDate" [(ngModel)]="ToDate"  class="mright10" ><img src="../../../../assets/imgs/cal.gif"> -->
                                </td>
                            </tr>
                        </table>
                    </div>            
               </div> 
               <div class="m25">
                <button class="submitBtn1 mright10" (click)="generatehtmlreport(userId,FromDate,ToDate)">HTML Report</button>
                    <button class="submitBtn1 mright10" (click)="getPdf()">PDF REPORT</button>
                    <!-- <button class="submitBtn1 mright10">PDF REPORT</button> -->
                    <button class="submitBtn" (click)="clearfields()">CLEAR</button>
               </div>
        </form>
</div>