<div class="fsize16 f-bold">Items Report</div>
<div class="hr12"></div>
<div class="row">
        <form>
               <div class="col-sm-12">                 
                <div class="col-sm-3">
                        <div *ngIf="reqErr" class="mtop20 mbtm20">
                                <span class="colorRed">Please Select Required Fields</span>
                            </div>
                        <div *ngIf="error" class="mtop20 mbtm20">
                                <span class="colorRed">Sorry! The Item does not exist</span>
                            </div>
                            <div *ngIf="error2" class="mtop20 mbtm20">
                                <span class="colorRed">Item Number & Item Type Not Matched</span>
                            </div>
                            
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">Item Number :</div>
                                    <input type="text" name="ItemNumber" [(ngModel)]="ItemNumber">
                                </td>
                            </tr>
                            <tr>                            
                                <td>
                                    <div class="">Item Type :</div>
                                    <select name="itemId" [(ngModel)]="itemId">
                                        <option value="-1"> ------Please Select-----</option>
                                        <option *ngFor="let title of itemList; let i = index" [value]="title.itemTypeId">
                                            {{title.itemType}}</option>
                                    </select>   
                                </td>
                            </tr>
                        </table>
                    </div>
               </div> 
               <div class="m25">
                    <button class="submitBtn1 mright10"  (click)="generatehtml(ItemNumber,itemId)">HTML Report</button>
                    <button class="submitBtn1 mright10" (click) = "getPdf()">PDF REPORT</button>
                    <button class="submitBtn" (click)="clearfields()">CLEAR</button>
               </div>
        </form>
</div>