
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<div style="overflow-y: auto;height: 590px;">
    <div class="col-sm-12 mbtm20">
        <h2 class="text-center">User Tracking Filter Report</h2>
    </div>
  <div *ngIf="reportsArryerror" style="color: red;">{{reportsArryerror}}</div>

    <div>
        <div class="mtop70 mbtm20" *ngIf="!reportsArryerror">
                <table style="width:80%">
                        <tr>
                            <td>
                                 <h5 class="f-bold">Name: &nbsp;&nbsp;&nbsp;&nbsp; {{reportsArry[0].recieverx.userFirstName}} {{reportsArry[0].recieverx.userLastName}}</h5>
                     
                            </td>
                            <td>
                                 <h5 class="f-bold">Avg. Days With Item: &nbsp;&nbsp;&nbsp;&nbsp; {{count}}</h5>
                                 
                     
                            </td>
                        </tr>
                        <tr>
                             <td>
                                     <h5 class="f-bold">Username: &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; {{reportsArry[0].recieverx.userName}}</h5>
                     
                                    
                      
                             </td>
                             <td>
                                     <h5 class="f-bold">Number of Items: &nbsp;&nbsp;&nbsp;&nbsp; {{reportsArry.length}}</h5>        
                             </td>
                         </tr>
                     </table>
        </div>



    </div>
    <div class="mtop70 mbtm20">
        <table style="width:80%" border=1>
            <tr>
                <th style="line-height: 3;text-align: center;">Item Number</th>
                <th style="line-height: 3;text-align: center;">Tag Name</th>
                <th style="line-height: 3;text-align: center;">Date Received</th>
                <th style="line-height: 3;text-align: center;">Last Held By</th>
                <th style="line-height: 3;text-align: center;">Days Held</th>
            </tr>
            <tr *ngFor = "let item of reportsArry">
                    <td style="line-height: 3;text-align: center;">{{item.itemUniqueId}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.tagName}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.transactionTime | date:'yyyy-MM-dd h:mm a'}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.lastHeld}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.daysHeld}}</td>
                </tr>
        </table>
    </div>
</div>  
<!-- <script>
    .non-scrollable-table .ui-table-wrapper {
     overflow-x: visible !important;
}
</script> -->