<div class="row">
        <img src="../../assets/imgs/logo.png" class="logoStyle">
      </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pleft0">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pleft0">
              <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/login">Login</a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pleft0">
              <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/superAdminLogin">Super Admin Login</a>
            </div>
          </div>
        <hr class="line"> 
    <!-- forgot start -->
    <div class="row mrl0" >
            <div class="fsize16 f-bold">Info</div>
            <div class="hr12"></div>
            <div class="PageHd2">
                    Your Account details has been sent to your email address.
            </div>
        </div>
    <!-- forgot end -->
      </div>
    