<div class="fsize16 f-bold">Time Held Report</div>
<div class="hr12"></div>
<div class="row">
    <form>
        <div style="margin-left:20px;">
                <div *ngIf="error2" class="mtop20 mbtm20">
                        <span class="colorRed">Item Number & Item Type Not Matched</span>
                    </div>
                    <div *ngIf="error3" class="mtop20 mbtm20">
                            <span class="colorRed">Item Number/ Item Type/ User Name Is Mandatory</span>
                        </div>
                    <div *ngIf="error" class="mtop20 mbtm20">
                            <span class="colorRed">Sorry! Results not found.</span>
                        </div> 
                        <div *ngIf="eItem" class="mtop20 mbtm20">
                                <span class="colorRed">Sorry! Item doesn’t exist.</span>
                            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                    
                        
                <table class="width100percent mtop20">
                    <tr>
                        <td>
                            <div class="">Item Number :</div>
                            <input type="text" name="ItemNumber" [(ngModel)]="ItemNumber">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="">From Date :</div>
                            <my-date-picker name="FromDate" class="mtop20" [options]="myDatePickerOptions"
                            (change)="validate(FromDate,ToDate)" [(ngModel)]="FromDate"  (dateChanged)="onDateChanged($event,FromDate,ToDate)"
                            required></my-date-picker>
                            <!-- <input type="date" class="mright10" name="FromDate" [(ngModel)]="FromDate"  class="mright10"><img
                                src="../../../../assets/imgs/cal.gif"> -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="width100percent mtop20">
                    <tr>
                        <td>
                            <div class="">Item Type :</div>
                            <select name="itemId" [(ngModel)]="itemId" (change)="GetuseTrackingreport(itemId)">
                                <option value="-1"> ------Please Select-----</option>
                                <option *ngFor="let title of itemList; let i = index" [value]="title.itemTypeId">
                                    {{title.itemType}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="">To Date :</div>
                            <my-date-picker name="ToDate" class="mtop20" [options]="myDatePickerOptions"
                            (change)="validate(FromDate,ToDate)" [(ngModel)]="ToDate"  (dateChanged)="onDateChanged($event,FromDate,ToDate)"
                            required></my-date-picker>
                            <!-- <input type="date" class="mright10" name="ToDate" [(ngModel)]="ToDate"  class="mright10"><img
                                src="../../../../assets/imgs/cal.gif"> -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="width100percent mtop20">
                    <tr>
                        <td>
                            <div class="">User Name :</div>
                            <ng2-completer name="reciever" [(ngModel)]="item.reciever" [datasource]="userArr" (click)="itemreciever(item.reciever)"
                                [minSearchLength]="0" [matchClass]="matchClass" [autofocus]="true" auto-match="true">
                            </ng2-completer>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="m25" style="    margin-left: 35px;">
            <button class="submitBtn1 mright10" (click)="generatehtml(ItemNumber,FromDate,itemId,ToDate,item.reciever)">HTML Report</button>
            <button class="submitBtn1 mright10" (click)="getPdf(ItemNumber,FromDate,itemId,ToDate,item.reciever)">PDF REPORT</button>
            <button class="submitBtn" (click)="clearfields()">CLEAR</button>
        </div>
    </form>
</div>