<div class="fsize16 f-bold">Pending Users</div>
<div class="hr12"></div>
<div class="row">
  <form>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <table style="width: 100%">
          <tr>
            <td>
              <div><b>Filter Values</b> <br> User Name:</div>
              <select class="height25 width100" name="selectedusername" [(ngModel)]="searchQuery.username.type">
                <option selected value="startsWith">Starts With </option>
                <option value="exactly">Exactly </option>
                <option value="endsWith">ends With</option>
                <option value="anyWhere">AnyWhere</option>
              </select>
              <input type="text" style="height: 24px !important;" name="username"  [(ngModel)]="searchQuery.username.value">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <table style="width: 100%">
          <tr>
            <td>
              <div class="mtop20">First Name :</div>
              <select class="height25 width100"  name="selecteduserFirstName" [(ngModel)]="searchQuery.userFirstName.type">
                <option selected value="startsWith">Starts With </option>
                <option value="exactly">Exactly </option>
                <option value="endsWith">ends With</option>
                <option value="anyWhere">AnyWhere</option>
              </select>
              <input type="text" style="height: 24px !important;" name="userFirstName" 
                [(ngModel)]="searchQuery.userFirstName.value">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <table style="width: 100%">
          <tr>
            <td>
              <div class="mtop20">Last Name :</div>
              <select class="height25 width100"  name="selecteduserLastName" [(ngModel)]="searchQuery.userLastName.type">
                <option selected value="startsWith">Starts With </option>
                <option value="exactly">Exactly </option>
                <option value="endsWith">ends With</option>
                <option value="anyWhere">AnyWhere</option>
              </select>
              <input type="text" style="height: 24px !important;" name="userLastName" [(ngModel)]="searchQuery.userLastName.value">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="m25">
      <button class="submitBtn mright10" (click)="Scearchdata()">SEARCH</button>
      <button class="submitBtn mright10" (click)="ClsSarchfileds()">CLEAR</button>
    </div>
  </form>
</div>
<div class="row addlist m25" style="margin-left: 15px;">
  <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
    <thead>
      <tr class="toolbar">
        <td colspan="10">
          <table border="0" cellpadding="0" cellspacing="1">
            <tbody>
              <tr>
                  <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber > 0">
                      <img src= "../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                    </td>
                    <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber > 0">
                        <img src= "../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                    </td>
                <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First">
                </td>
                <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif" alt="Prev">
                </td>
                <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/nextPage.gif" title="Next Page"
                      alt="Next"></a></td>
                <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/lastPage.gif" title="Last Page"
                      alt="Last"></a></td>
                      <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                          <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                          <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                              <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                <td><img src="../../../../assets/imgs/separator.gif" alt="Separator"></td>
                <td>
                  <select style="width:45px;border-right:0px;" (change)="filterForPageSize($event.target.value)">
                    <option selected value=7>7</option>
                    <option value=10>10</option>
                    <option value=15>15</option>
                  </select>
                </td>
                <!-- <td><button (click)="MaketableEdit()">Edit</button></td> -->
                <td><img src="../../../../assets/imgs/save.jpg" (click)="Maketablesave()" alt="Save" style="cursor: pointer;"></td>

              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr class="header">
        <!-- <td>Check</td> -->

        <td>Approve</td>
        <td>User Name</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Street</td>
        <td>City</td>
        <td>Zip</td>
        <td>Phone</td>
        <td>E-Mail</td>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let m of Suprevisors; let i = index" (click)="MaketableEdit(m)">
        <td><input type="checkbox" (click)="update(m)"></td>
        <!-- <td><span>{{m.status}}</span></td> -->
        <td>
            <span>{{m.userName}}</span>
          <!-- <span contenteditable="true" (keyup)="changeValue(m.id, 'userName', $event)" (blur)="updateList(m.id, 'userName', $event)">{{m.userName}}</span> -->
          <!-- <div contenteditable="true" [textContent]="m.username" (keyup)="changeValue(m.id, 'm.username', $event)" (blur)="updateList(m.id, 'm.username', $event)" ></div> -->
        </td>
        <td>
            <span contenteditable="true" (keyup)="changeValue(m.id, 'userFirstName', $event)" >{{m.userFirstName}}</span>
          <!-- <div contenteditable="true" [textContent]="m.userFirstName"
            (input)="m.userFirstName=$event.target.textContent"></div> -->
        </td>
        <td>
            <span contenteditable="true" (keyup)="changeValue(m.id, 'userLastName', $event)" >{{m.userLastName}}</span>
          <!-- <div contenteditable="true" [textContent]="m.userLastName" (input)="m.userLastName=$event.target.textContent">
          </div> -->
        </td>
        <td>
            <span contenteditable="true" (keyup)="changeValue(m.id, 'UserStreet1', $event)" >{{m.UserStreet1}}</span>
          <!-- <div contenteditable="true" [textContent]="m.UserStreet1" (input)="m.UserStreet1=$event.target.textContent">
          </div> -->
        </td>
        <td>
            <span contenteditable="true" (keyup)="changeValue(m.id, 'UserStreet3', $event)" >{{m.userCity}}</span>
          <!-- <div contenteditable="true" [textContent]="m.UserStreet3" (input)="m.UserStreet3=$event.target.textContent">
          </div> -->
        </td>
        <td>
            <span contenteditable="true" (keyup)="changeValue(m.id, 'userZip', $event)" >{{m.userZip}}</span>
          <!-- <div contenteditable="true" [textContent]="m.userZip" (input)="m.userZip=$event.target.textContent"></div> -->
        </td>
        <td>
            <span contenteditable="true" (keyup)="changeValue(m.id, 'userMobile', $event)" >{{m.userMobile}}</span>
          <!-- <div contenteditable="true" [textContent]="m.userMobile" (input)="m.userMobile=$event.target.textContent">
          </div> -->
        </td>
        <td>
            <span contenteditable="true" (keyup)="changeValue(m.id, 'email', $event)" >{{m.email}}</span>
          <!-- <div contenteditable="true" [textContent]="m.email" (input)="m.email=$event.target.textContent"></div> -->
        </td>
      </tr>
    </tbody>
    <tbody class="tbody">
      <tr class="statusBar">
        <td align="left" colspan="10">
          <span *ngIf="pagination_numbers.totalNumber>0">
            Results {{pagination_numbers.fromNumber +1}} - {{pagination_numbers.toNumber}} of
            {{pagination_numbers.totalNumber}}.
          </span><span *ngIf="!pagination_numbers.totalNumber>0">
            There were no results found.

          </span> </td>
      </tr>
    </tbody>
  </table>
</div>