<div class="fsize16 f-bold">Item Closed Filter Report</div>
<div class="hr12"></div>
<div class="row">
        <form>
                <div *ngIf="error2" class="mtop20 mbtm20">
                        <span class="colorRed">Item Number & Item Type Not Matched</span>
                    </div>
                <div *ngIf="error" class="mtop20 mbtm20">
                        <span class="colorRed"> Please Select Required Fields.</span>
                        <!-- Either dates(both) or item number or item number and type are mandatory -->
                    </div>
                    <div *ngIf="error1" style="color: red;">Item Number & Item Type Not Matched</div>
                    <div *ngIf="error3" class="col-sm-12">                 
                            <span class="colorRed">Sorry! The Item does not exist</span>
                        </div>
               <div class="col-sm-12">                 
                <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">From Date :</div>
                                    <my-date-picker name="FromDate" class="mtop20" [options]="myDatePickerOptions"
                                    (change)="validate(FromDate,ToDate)" [(ngModel)]="FromDate"  (dateChanged)="onDateChanged($event,FromDate,ToDate)"
                                    required></my-date-picker>
                                    <!-- <input type="date" class="mright10"  name="FromDate" [(ngModel)]="FromDate"  class="mright10"><img src="../../../../assets/imgs/cal.gif"> -->
                                </td>
                            </tr>
                            <!-- <tr>                            
                                <td>
                                        <div class="">Item Number :</div>
                                        <input type="text">   
                                </td>
                            </tr> -->
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">To Date :</div>
                                    <my-date-picker name="ToDate" class="mtop20" [options]="myDatePickerOptions"
                                    (change)="validate(FromDate,ToDate)" [(ngModel)]="ToDate"  (dateChanged)="onDateChanged($event,FromDate,ToDate)"
                                    required></my-date-picker>
                                    <!-- <input type="date" class="mright10" name="ToDate" [(ngModel)]="ToDate"  class="mright10" ><img src="../../../../assets/imgs/cal.gif"> -->
                                </td>
                            </tr>
                        </table>
                    </div>
               </div> 
               <div class="col-sm-12">                 
                <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">Item Number :</div>
                                    <input type="text" style="height: 22px;"  name="ItemNumber" [(ngModel)]="ItemNumber">   
                                </td>
                            </tr>
                            <!-- <tr>                            
                                <td>
                                        <div class="">Item Number :</div>
                                        <input type="text">   
                                </td>
                            </tr> -->
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">Item Type :</div>
                                    <select name="itemId" [(ngModel)]="itemId" >
                                        <option value="-1"> ------Please Select-----</option>
                                        <option *ngFor="let title of itemList; let i = index" [value]="title.itemTypeId">
                                            {{title.itemType}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
               </div> 
               
               <div class="m25">
                <button class="submitBtn1 mright10" (click)="generatehtml(FromDate,ToDate,ItemNumber,itemId)">HTML Report</button>
                    <button class="submitBtn1 mright10" (click)="getPdf()">PDF REPORT</button>
                    <button class="submitBtn" (click)="clearfields()">CLEAR</button>
               </div>
        </form>
</div>