.heightAuto{
    overflow-x: scroll;
    overflow-y: auto;
    height: 300px;
}
.colorGreen{
    color: green;
}
.divcenter{
    margin: auto;
    display: table;
}
td {
    word-break:break-all !important;
}
.wrap {
    overflow: hidden;
}
.wrap:hover {
    overflow-x: scroll;
    
}