<div *ngIf="succesShow">
    <div class="row mrl0" style="margin: 5px;">
        <div class="fsize16 f-bold">Info</div>
        <div class="hr12"></div>
        <!-- <a (click)="back()" style="float: right;"> back</a> -->
        <div class="PageHd2">
            Item(s) saved successfully.
        </div>       
    </div>
</div>
<div  *ngIf="!succesShow">
<div class="fsize16 f-bold">Add Item</div>
<div class="hr12"></div>
<div class="row mtop20">
    <form >
        
        <div class="col-sm-6">
            <p style="color: red">{{errorMessage}}</p>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <table style="width: 100%">
                    <tr>
                        <td width="8%"></td>
                        <td>Unique ID</td>
                    </tr>
                    <tr>
                        <td width="8%">1</td>
                        <td>
                            <input name="one" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.one, 'one')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.one" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">2</td>
                        <td>
                            <input name="two" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.two, 'two')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.two" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">3</td>
                        <td>
                            <input name="three" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.three, 'three')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.three" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">4</td>
                        <td>
                            <input name="four" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.four, 'four')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.four" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">5</td>
                        <td>
                            <input name="five" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.five, 'five')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.five" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">6</td>
                        <td>
                            <input name="six" (keypress)="numberOnly($event)"
                                (keyup)="insertDash(item, item.six, 'six')" [disabled]="item.uniqueCheckbox"
                                [maxlength]="maxInputLength" [(ngModel)]="item.six" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">7</td>
                        <td>
                            <input name="seven" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.seven, 'seven')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.seven" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">8</td>
                        <td>
                            <input name="eight" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.eight, 'eight')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.eight" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">9</td>
                        <td>
                            <input name="nine" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.nine, 'nine')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.nine" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">10</td>
                        <td>
                            <input name="ten" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.ten, 'ten')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.ten" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            System Generated Unique ID? <input type="checkbox" name="uniqueCheckbox"
                                (change)="checkBoxChanged(item.uniqueCheckbox)" [(ngModel)]="item.uniqueCheckbox"
                                value="">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <div class="TagDiv1">
                    <table style="width:100%;">
                        <tr>
                            <td class="Tag1">
                                TAG .
                            </td>
                        </tr>
                        <tr>
                            <td>Name :</td>
                        </tr>
                        <tr>
                            <td>
                                <input name="tag" [(ngModel)]="item.tagName" type="text" style="width: 135px;">
                            </td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="tagDesc" [(ngModel)]="item.tagDesc" rows="9"
                                    class="color-000"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <table style="width: 100%">
                    <tr>
                        <td width="8%" style="height: 20px;"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="8%">11</td>
                        <td>
                            <input name="eleven" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.eleven, 'eleven')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.eleven" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">12</td>
                        <td>
                            <input name="twelve" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.twelve, 'twelve')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.twelve" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">13</td>
                        <td>
                            <input name="thirteen" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.thirteen, 'thirteen')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.thirteen" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">14</td>
                        <td>
                            <input name="fourteen" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.fourteen, 'fourteen')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.fourteen" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">15</td>
                        <td>
                            <input name="fifteen" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.fifteen, 'fifteen')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.fifteen" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">16</td>
                        <td>
                            <input name="sixteen" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.sixteen, 'sixteen')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.sixteen" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">17</td>
                        <td>
                            <input name="seventeen" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.seventeen, 'seventeen')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.seventeen" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">18</td>
                        <td>
                            <input name="eighteen" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.eighteen, 'eighteen')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.eighteen" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">19</td>
                        <td>
                            <input name="nineteen" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.nineteen, 'nineteen')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.nineteen" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td width="8%">20</td>
                        <td>
                            <input name="twenty" (keypress)="numberOnly($event)" [disabled]="item.uniqueCheckbox"
                                (keyup)="insertDash(item, item.twenty, 'twenty')" [maxlength]="maxInputLength"
                                [(ngModel)]="item.twenty" type="text">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div class="f-bold">Item Type:</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select tabindex="1" class="mbtm7" [(ngModel)]="item.itemType"
                                [ngModelOptions]="{standalone: true}" (change)="onChange(item.itemType)">
                                <option *ngFor="let itemT of getItemData" name="itemType"
                                    value="{{itemT.itemTypeId}}"> {{itemT.itemType}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Format: {{format}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="f-bold mtop20">Assign To User ? <input name="transFlag"
                                    (change)="triggerSomeEvent()" [(ngModel)]="item.transFlag" type="checkbox"
                                    value="item.transFlag">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ng2-completer [disabled]="!item.transFlag" name="reciever" [(ngModel)]="item.reciever" [datasource]="userArr"
                                [minSearchLength]="0" [matchClass]="matchClass" [autofocus]="true" auto-match="true">
                            </ng2-completer>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="m25">
            <button class="submitBtn mright10" type="submit" (click)="createItem()" (dblclick)="createItem()">SUBMIT</button>
            <button class="submitBtn mright10" (click)="printandsave()">PRINT & SAVE</button>
            <button (click)="cancel()" type="button" class="submitBtn">CANCEL</button>
        </div>
        <div class="colorRed m25">You can add only 9,999,999,999 item(s) now.</div>
    </form>
</div>
</div>