.Heading1 {
    background: #a1d0ff;
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
}
.Heading1>td{padding: 2px 5px;}
.width250{
    width: 250px;
}
.width172{
    width: 145px;
}
.bgtxtScan2{
    height: 40px;
    width: 550px;
    text-align: center;
    background: #E6E6E6;
    margin: auto;
    padding: 1px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    font-size: 16px;
    font-family: Times New Roman;
}
.styeerr{
    margin-left: 20pc;
    margin-bottom: 10px;
    color: red;
}