<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<div>
        <div class="col-sm-12 mbtm20">
            <h2 class="text-center">User Activity report</h2>
        </div>
        <div>
        </div>
        <div class="mtop70 mbtm20">
            <table style="width: 60%;margin: auto;" border=1>
                <tr>
                    <th style="line-height: 3;text-align: center;"><b>User</b></th>
                    <th style="line-height: 3;text-align: center;"><b>Transaction Date</b></th>
                    <th style="line-height: 3;text-align: center;"><b>Binders Processed</b></th>
                </tr>
                <tr *ngFor = "let item of reportsArry">
                        <td style="line-height: 3;text-align: center;">{{item.name}}</td>
                        <td style="line-height: 3;text-align: center;">{{item.transactionTime}}</td>
                        <td style="line-height: 3;text-align: center;">{{item.binder}}</td>
                    </tr>
            </table>
        </div>
    </div>  