<div class="fsize16 f-bold">Print Barcodes</div>
<div class="hr12"></div>
<div class="row">
        <!-- <hr class="line"> -->
    
        <!-- location barcode start -->
        <div class="row" id="print-section">
            <!-- <div class="col-sm-12">
                <div class="loginHeader">Location Barcodes</div>
            </div> -->
            <div class="mleft40">
    
                <div class="Tablewidth">
                    <table class=" barcodeStyle"  *ngFor="let m of irriate; let i = index" >
                        <tr >
                            <td>
                                <div id="{{m.itemUniqueId}}">
                                        <fieldset class="scheduler-border">
                                                <legend class="scheduler-border timesNew f-size16">{{m.itemUniqueId}}</legend>
                                                <div>
                                                    <ngx-barcode [bc-value]="m.itemUniqueId.toUpperCase()" [bc-width]="width" bc-height="25" [bc-display-value]="false">
                                                    </ngx-barcode>
                                                </div>
                                            </fieldset>
                                            <a  (click)="print(m.itemUniqueId)">Print</a>
                                </div>
                            
                        

                            </td>
                            </tr>
                    </table>
                </div>
                <div class="m25" style="margin-left: 372px !important;">
                        <button class="submitBtn mright10" (click)="Print_all()">Print All</button>
                    </div>
            </div>
        </div>
      </div>
    <!-- location barcodes end -->
    
    