<div class="fsize16 f-bold">User Tracking Report</div>
<div class="hr12"></div>
<div class="row">
        <form>
                <div *ngIf="error" class="mtop20 mbtm20">
                        <span class="colorRed">Please enter User Name.</span>
                    </div>
                    <div *ngIf="error1" style="color: red;">sorry! No results found</div>
               <div class="col-sm-12">                 
                <div class="col-sm-3">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">User Name :</div>
                                    <ng2-completer name="reciever" [(ngModel)]="item.reciever" [datasource]="userArr" (click)="itemreciever(item.reciever)"
                                    [minSearchLength]="0" [matchClass]="matchClass" [autofocus]="true" auto-match="true">
                                </ng2-completer>

                                    <!-- <select id="itemTypeId" name="userId" [(ngModel)]="userId" (change)="GetuseTrackingreport(userId)">
                                        <option value="-1"> ------Please Select-----</option>
                                        <option  *ngFor="let title of userArr1" [value]="title.id" >{{title.username}}{{title.userFirstName}}{{title.userLastName}}</option>
                                </select>    -->
                                </td>
                            </tr>
                        </table>
                    </div>
               </div> 
               <div class="m25">
                    <button class="submitBtn1 mright10" (click)="getItemList(userId)">HTML Report</button>
                    <button class="submitBtn1 mright10" (click)="getPdf()">PDF REPORT</button>
                    <button class="submitBtn" (click)="clearfields()">CLEAR</button>
               </div>
        </form>
</div>