

<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<div style="overflow-y: auto;height: 590px;">
    <div class="col-sm-12 mbtm20">
        <h2 class="text-center">Items Report</h2>
    </div>
    <div *ngIf="reportsArryerror" style="color: red;">{{reportsArryerror}}</div>
    <div>
<table style="width:80%">
    <tr>
        <td style="text-align: left !important;">
                <h5 class="f-bold">Item Type  :  </h5>
        </td>
        <td><h5 class="f-bold">{{reportsArry.itemArrList[0].itemType}}</h5></td>
        <td style="width: 200px;"></td>
        <td>
                <h5 class="f-bold">Item Total :  </h5>
        </td>

        <td><h5 class="f-bold" style="text-align: right !important;">{{reportsArry.noOfItems}}</h5></td>
    </tr>
   
</table>
    </div>
    <div class="mtop70 mbtm20" *ngIf="!reportsArryerror">
        <table style="width:80%" border=1>
            <tr>
                <th style="line-height: 3;">Item Number</th>
                <th style="line-height: 3;">Date Created</th>
                <th style="line-height: 3;">Tracking Item</th>
                <th style="line-height: 3;">Item Holder</th>
                <th style="line-height: 3;">Days In Tracking</th>
            </tr>
            <tr *ngFor = "let item of reportsArry.itemArrList">
                    <td style="line-height: 3;">{{item.itemNumber}}</td>
                    <td style="line-height: 3;">{{item.dateCreated | date:'yyyy-MM-dd hh:mm:s'}}</td>
                    <td style="line-height: 3;">{{item.trackingItem}}</td>
                    <td style="line-height: 3;">{{item.itemHolderDetails?item.itemHolderDetails.userFirstName:''}}  &#160; {{item.itemHolderDetails?item.itemHolderDetails.userLastName:''}} &#160; ({{item.itemHolderDetails?item.itemHolderDetails.username:''}}) </td>
                    <td style="line-height: 3;">{{item.daysinTracking}}</td>
                </tr>
        </table>
    </div>
</div>  