<div class="fsize16 f-bold">Add Message</div>
<div class="hr12"></div>
<div class="row">
        <form>
               <div class="col-sm-12">
                <div class="col-sm-4">
                    <table style="width: 100%">
                            <div class="mbtm20">
                                    <div class="colorRed" *ngIf="messageName">Message Name is required.</div>
                                    <div class="colorRed" *ngIf="messagediscr">Message Description is required.</div>
                                  </div>
                        <tr>                            
                            <td>Message name :</td>
                        </tr>
                        <tr>                            
                            <td>
                                <input type="text" style="height: 24px !important;width: 170px" class="mright10" [(ngModel)]="messageinput" name="messageinput"><span class="colorRed">*</span>
                            </td>
                        </tr>
                        <tr>                            
                                <td>Message Desc :</td>
                            </tr>
                            <tr>                            
                                <td>
                                    <textarea cols="3" class="mright10" style="width: 170px;overflow-y:scroll" [(ngModel)]="messageDescptn" name="messageDescptn"></textarea><span class="colorRed">*</span>
                                </td>
                            </tr>
                    </table>
                </div>
               </div>
               <div class="m25">
                    <button class="submitBtn1" (click)="createNewMeassage()">ADD MESSAGE</button>
                </div>  
        </form>
</div>


    