<div class="row">
    <!-- <hr class="line"> -->

    <!-- location barcode start -->
    <div class="row">
        <!-- <div class="col-sm-12">
            <div class="loginHeader">Location Barcodes</div>
        </div> -->
        <div class="mleft40">

            <div class="Tablewidth">
                <table class=" barcodeStyle"  *ngFor="let m of locations; let i = index" >
                    <tr>
                        <td>
                                <fieldset class="scheduler-border">
                                    <!-- removed username to upper case -->
                                        <legend class="scheduler-border-location timesNew f-size16">{{m.username}}</legend>
                                        <div>
                                            <ngx-barcode [bc-value]="m.username" [bc-width]="m.barcodeWidthFactor" bc-height="25" [bc-display-value]="false">
                                            </ngx-barcode>
                                        </div>
                                    </fieldset>
                        </td>
                        <!-- <td>

                            <fieldset class="scheduler-border" *ngIf="m.username.length =='1'">
                                <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                <div>
                                    <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width" bc-height="25" [bc-display-value]="false">
                                    </ngx-barcode>
                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='2'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width2" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='3'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width3" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='4'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width4" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='5'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width5" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='6'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width6" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='7'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width7" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='8'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width8" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='9'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width9" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length =='10'">
                                    <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                    <div>
                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width10" bc-height="25" [bc-display-value]="false">
                                        </ngx-barcode>
                                    </div>
                            </fieldset>
                            <fieldset class="scheduler-border" *ngIf="m.username.length > '10'">
                                <legend class="scheduler-border timesNew f-size16">{{m.username}}</legend>
                                <div>
                                    <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-width]="width1" bc-height="25" [bc-display-value]="false">
                                    </ngx-barcode>
                                </div>
                            </fieldset>
                        </td> -->
                        </tr>
                </table>
            </div>
        </div>
    </div>
  </div>
<!-- location barcodes end -->

