<div class="fsize16 f-bold">Item Search Report</div>
<div class="hr12"></div>
<div class="row">
        <form>
                <div *ngIf="error3" class="mtop20 mbtm20">
                        <span class="colorRed">Please enter required fields.</span>
                    </div>
                    <div *ngIf="error1" style="color: red;">Sorry! The item doesnt exist</div>
                    
               <div *ngIf="error" class="col-sm-12">                 
                        <span class="colorRed">Sorry! The Item does not exist</span>
                    </div>
                    <div *ngIf="error2" class="mtop20 mbtm20">
                        <span class="colorRed">Item Number & Item Type Not Matched</span>
                    </div>
               <div class="col-sm-12">   
                                 
                <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                        <div class="">Item Number :</div>
                                        <input type="text" style="height: 22px;width:170px" name="ItemNumber" [(ngModel)]="ItemNumber">   
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table class="width100percent mtop20">
                            <tr>                            
                                <td>
                                    <div class="">Item Type :</div>
                                    <select name="itemId" [(ngModel)]="itemId" (change)="GetuseTrackingreport(itemId)">
                                        <option value="-1"> ------Please Select-----</option>
                                        <option *ngFor="let title of itemList; let i = index" [value]="title.itemTypeId">
                                            {{title.itemType}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4">
                            <table class="width100percent mtop20">
                                <tr>                            
                                    <td>
                                            <div class="">User Name :</div>
                                            <ng2-completer name="reciever" [(ngModel)]="item.reciever" [datasource]="userArr" 
                                            [minSearchLength]="0" [matchClass]="matchClass" [autofocus]="true" auto-match="true">
                                        </ng2-completer> 
                                    </td>
                                </tr>
                            </table>
                        </div>
               </div> 
               <div class="m25">
                    <button class="submitBtn1 mright10" (click)="generatehtml(ItemNumber,itemId,item.reciever)">HTML Report</button>
                    <button class="submitBtn1 mright10" (click)="getPdf(ItemNumber,itemId,item.reciever)">PDF REPORT</button>
                    <button class="submitBtn" (click)="clearfields()" >CLEAR</button>
               </div>
        </form>
</div>