
<embed src="../../../assets/DemoTaptrackVideos/AddItem.swf" width="100%" height="550" 
flashvars="id=hello world" wmode="transparent" />

<!-- <video dth="100%" height="550" controls autoplay= "true">
    <source src="../../../assets/DemoTaptrackVideos/AddItem1.mp4" 
          type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
  </video> -->

  <!-- <object width="400" height="250">
        <param name="movie" value="../../../assets/DemoTaptrackVideos/AddItem.swf">
        <embed src="../../../assets/DemoTaptrackVideos/AddItem.swf" width="400" height="250" />         
   </object> -->
<!-- 
   <video width="320" height="240" muted controls loop autoplay width="100%" height="550">
            <source src="../../../assets/DemoTaptrackVideos/additem2.mp4" type="video/mp4">
            Your browser does not support the video tag.
      </video> -->