
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<div>
    <div class="col-sm-12 mbtm20">
        <h2 class="text-center">Item Inventory</h2>
    </div>
    <div *ngIf="itemInvetordataerror" style="color: red;">{{itemInvetordataerror}}</div>
    <div>
        <h5 class="f-bold">Item Count = &nbsp;&nbsp;&nbsp;&nbsp; {{itemInvetordata.length}}</h5>
    </div>
    <div class="mtop70 mbtm20"  *ngIf="itemInvetordata.length > 0" >
        <table style="width:60%" border=1>
            <tr>
                <th>Item</th>
                <th>Sender</th>
                <th>Sender To Date</th>
                <th>Holder</th>
            </tr>
            <tr *ngFor = "let item of itemInvetordata">
                    <td class="width110">{{item.itemUniqueId}}</td>
                    <td>{{item.senderName}}</td>
                    <td>{{item.transactionSuccessTime}}</td>
                    <td>{{item.recieverName}}</td>
                </tr>
        </table>
    </div>
    <div class="mtop70 mbtm20" *ngIf="itemInvetordata.length == 0" style="color: red;">

        No data found

</div>
</div>  

