
<div class="fsize16 f-bold">Print Barcode</div>
<div class="hr12"></div>
<div class="row mtop20 mbtm20">
        <form>
               <div class="col-sm-12">
                <div class="col-sm-4">
                    <form>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div *ngIf="printbarfield">
                                    <span class="colorRed">UniqueId is required.</span>
                                </div>
                                <div *ngIf="errrMsg">
                                        <span class="colorRed">No Item Exists with this ID.</span>
                                </div>
                            </td>
                        </tr>
                        <tr>                            
                            <td>
                                <div>Document ID :</div>
                                <input type="text" autofocus class="width135 mright10" [(ngModel)]="printcode" name="printcode"><span class="colorRed">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                    <button class="submitBtn1" (click)="printbarcode('printId')" >PRINT BARCODE</button>
                                    <!-- <button class="submitBtn1" (click)="printbarcode('printId')" >PRINT BARCODE</button> -->
                            </td>
                        </tr>
                    </table>
                </form>
                </div>
               </div> 
        </form>

        <div id="printId" style="visibility: hidden;">
                <div>
                    <p *ngIf="printData.itemUniqueId" style="text-align:center;margin:auto">TAPTRACK</p>
                    <ngx-barcode [bc-value]="printData.itemUniqueIdWithoutD" [bc-display-value]="true" 
                    [bc-font]="Impact" 
                    style="display: table;text-align:center;margin:auto;left:0px;right:0px;"                     
                    [bc-height]="30"  ></ngx-barcode>
                    
                    <ngx-barcode [bc-display-value]="true" [bc-font]="Impact" 
                    [bc-value]="printData.itemUniqueId" 
                    style="display: table;text-align:center;margin:auto;left:0px;right:0px;"  
                    [bc-height]="20"  [bc-font-size]="45" ></ngx-barcode>
                    
                    <br>

                
            </div>
        </div>
</div>



    