.bgtxtScan{
    background: #E6E6E6;
    width: 375px;
    margin: auto;
    padding: 1px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    font-size: 16px;
    font-family:Times New Roman;
}
.bgtxtScan1{
    width: 450px;
    background: #E6E6E6;
    margin: auto;
    padding: 1px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    font-size: 16px;
    font-family: Times New Roman;
}
.bgtxtScan2{
    height: 40px;
    width: 550px;
    text-align: center;
    background: #E6E6E6;
    margin: auto;
    padding: 1px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    font-size: 16px;
    font-family: Times New Roman;
}
.bgtxtScan3{
    text-align: center;
    font-size:16px;
    margin: 2px;
    font-family: Times New Roman;
}

.padding35{
    padding: 35px 0px;
}
.loginFont{
    font-size: 16px;
    font-weight: bold;
}
.homestyle{
    float: right;
    font-weight: normal;
    text-decoration: underline !important;
}
.padding90{
    padding: 50px 0px;
}
textarea{
    margin-top: 10px;
    resize: vertical;
    overflow-y: scroll;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
 -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
-webkit-user-select: none; /* Chrome, Safari, and Opera */
-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}