<div class="row">
  <img src="../../assets/imgs/logo.png" class="logoStyle">
</div>
<div class="row">
  <!-- <hr class="line"> -->

  <!-- forgot start -->
  <div class="row">
    <div class="col-sm-12">
      <div class="loginHeader1 timesNew f-size24 f-left">Scanner Entry Module
        <a routerLink="" class="homestyle f-size16">Home</a>
      </div>

    </div>
    <div class="mtop70 mleft40 padding90">
        <div *ngIf="easyErr" style="color: red;">{{easyError}}</div>
      <div class="text-center" *ngIf="login">
        <form #userLoginForm="ngForm" (ngSubmit)="userLogin(); userLoginForm.reset()">
          <div class="bgtxtScan">Scan the command <span class="loginFont">LOGIN</span> from the scanner sheet.</div>
          <div class="padding35">
            <div class="f-size16 timesNew">Enter LOGIN :</div>
            <input type="text" [autofocus]="true" id="myInput" [(ngModel)]="loginID" name="loginID" #myInputautofocus>
          </div>
          <div class="bgtxtScan">
            **After each function a recognizable sound indication will let you indicate task completion.
          </div>
        </form>
      </div>
      <div class="text-center" *ngIf="user">
        <form #usernameSubmitForm="ngForm" (ngSubmit)="usernameSubmit();usernameSubmitForm.reset()">
          <div class="bgtxtScan1">
            This screen allows you to scan in your personal information through <br> scanning your Personal ID /
            Username provided on the barcode <br> directory sheet.
          </div>
          <div class="colorRed mtop10" *ngIf="usernotexist">Username does not exist</div>
          <div class="padding35">
            <div class="f-size16 timesNew">Enter UserName :</div>
            <input type="text" [autofocus]="true" [(ngModel)]="username" name="username" #userFormInput>
          </div>
        </form>
      </div>
      <div class="text-center" *ngIf="casebind">
        <form #casebinderSubmitForm="ngForm" (ngSubmit)="casebinderSubmit();casebinderSubmitForm.reset()">
          <div class="bgtxtScan">
            Scan the command CASEBINDER from the scanner sheet.
          </div>
          <div class="padding35">
            <div class="f-size16 timesNew">Enter CASEBINDER :</div>
            <input type="text" [autofocus]="true" [(ngModel)]="casebinder" name="casebinder" #casebinderInput>
          </div>
        </form>
      </div>

      <div class="text-center" *ngIf="itemUinque">
        <form #itemUniqueSubmitForm="ngForm" (ngSubmit)="itemUniqueSubmit();itemUniqueSubmitForm.reset();">
          <div class="bgtxtScan1">
            Using the Barcode Label on the Case binder, scan the DASHED barcode (for example 123-1234567, of length 11
            characters) to Item Unique ID field. After each scan, the ID will appear in the text area. On completing
            scanning of all case binder IDs, scan the command SENDTO from the scanning sheet.
          </div>
          <div class="padding35">
            <div class="f-size16 timesNew">Item Unique ID :</div>
            <input type="text" [autofocus]="true" [(ngModel)]="itemuniqueId.value" name="itemuniqueId"
              [ngModelOptions]="{standalone: true}" #uniqueIdInput><br>
            <textarea class="textarea" rows="10" cols="20" style="word-wrap:break-word" [(ngModel)]="textAreaString"
              [ngModelOptions]="{standalone: true}" readonly="readonly"></textarea>
          </div>
        </form>
      </div>
      <div class="text-center" *ngIf="ownerName">
        <form #ownerNameSubmitForm="ngForm" (ngSubmit)="ownerNameSubmit();ownerNameSubmitForm.reset()">
          <div class="bgtxtScan1">
            This screen allows you to choose the Location / Username for sending the case
            binder to. Scan the approriate Location Username from the directory barcode sheet.
          </div>
          <div class="colorRed mtop10" *ngIf="usernotexist">Username does not exist</div>
          <div class="padding35">
            <div class="f-size16 timesNew">Owner UserName :</div>
            <input type="text" [autofocus]="true" [(ngModel)]="currentOwner" name="currentOwner" #ownerInput>
          </div>
        </form>
      </div>
      <div *ngIf="loader">
        <div class="text-center f-bold f-size16">Saving data.. Please wait.</div><br>
        <img style="margin:auto;display:table;" src="../../assets/imgs/progress.gif">
      </div>
      <div class="text-center" *ngIf="sendto">

        <form #saveSubmitForm="ngForm" (ngSubmit)="saveSubmit();saveSubmitForm.reset()">
          <div class="bgtxtScan">
            Scan the command <b>SAVE</b> from the scanner sheet.
          </div>
          <div class="padding35">
            <div class="f-size16 timesNew">Enter SAVE :</div>
            <input type="text" [autofocus]="true" [(ngModel)]="savedata" name="savedata" #saveInput>
          </div>
        </form>
      </div>
      <div *ngIf="successfulSave">
        <div class="bgtxtScan2 f-size18">
          Item Added / Updated Successfully
        </div>
        <div class="bgtxtScan3">
          This screen given you the option to begin process again and continue scanning binders. <br> Choose the
          CASEBINDER option if you will continue entering data. <br> Scan in the LOGIN option if you are logging off for
          another user.
        </div>
        <div class="text-center f-size18 timesNew">Go To : <br>
          <form #gotoSubmitForm="ngForm" (ngSubmit)="gotoSubmit();gotoSubmitForm.reset()">
            <input type="text" [autofocus]="true" [(ngModel)]="goTo" name="goTo" #goToIput>
          </form>
          <form>
            <div class="f-size18 timesNew mtop20"> Following item(s) could not be added :</div>
            <textarea rows="10" cols="20" [(ngModel)]="failuerobj" name="failuerobj" style="width:280px"
              readonly></textarea>
          </form>
        </div>
        <div>

        </div>
      </div>
    </div>
    <hr class="line1">
  </div>
  <!-- forgot end -->



</div>
