<div class="row">
    <img src="../../assets/imgs/logo.png" class="logoStyle">
  </div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pleft0">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pleft0">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/login">Login</a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pleft0">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/superAdminLogin">Super Admin Login</a>
      </div>
      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pleft0">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/inviteUserRegistration">inviteUserRegistration</a>
      </div> -->
    </div>
    <hr class="line">
    <!-- login open -->
    <div class="row" *ngIf="!forgotShow">
      <div class="col-sm-12">
          <div class="loginHeader">Login</div>
      </div>
      <div class="mtop70 mleft40">
        <div class="mbtm20">
          <div class="colorRed" *ngIf="usernameshw">User Name is Required</div>
          <div class="colorRed" *ngIf="passwordshw">Password is Required</div>
          <div class="colorRed" *ngIf="wrngdetails">Wrong Password or User does not exists</div>
        </div>
        <form>
            <table class="tablewidth">
                <tr>
                  <td>
                      Company Unique ID:
                  </td>
                  <td>
                      <select tabindex="1" class="mbtm7" [(ngModel)]="loginForm.companyId" [ngModelOptions]="{standalone: true}">
                        <!-- <option disabled selected>Select Company Name</option>   -->
                        <option *ngFor="let company of allCompanynames"  name="companyId"  value="{{company.companyId}}"> {{company.companyCity}}</option>
                      </select><span class="colorRed">*</span>
                    <!-- <input name="companyId" [(ngModel)]="loginForm.companyId" type="text" class="inputStyle"> -->
                    <!-- <span class="colorRed">*</span> -->
                  </td>
                </tr>
                <tr>
                  <td>
                      User Name:
                  </td>
                  <td>
                    <input  name="username" tabindex="2"  [(ngModel)]="loginForm.username" type="text" class="inputStyle mbtm7">
                    <span class="colorRed">*</span>
                  </td>
                </tr>
                <tr>
                  <td>
                      User Password:
                  </td>
                  <td>
                    <input name="password"  tabindex="3" [(ngModel)]="loginForm.password" type="password" class="inputStyle mbtm7">
                    <span class="colorRed">*</span>
                  </td>
                </tr>
                <tr>
                  <td>
                      Remember Me:
                  </td>
                  <td>
                      <input type="checkbox" tabindex="4" name="remember mbtm7" >
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button class="submitBtn mbtm7" tabindex="5" (click)="login()">Submit</button>
                    <!-- <button class="submitBtn"  routerLink="/home">Submit</button> -->
                    <br><br>
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    routerLink="/forgotPassword">Forgot Password?</a>
                    <br><br>
                  </td>
                </tr>
              </table>
        </form>
      </div>
      <hr class="line1">
    </div>
<!-- login close -->

    <div class="">
      <!-- <ul class="col-sm-12 listStyle" style="margin-left: 5px;" >
        <li class="listyle">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/barCodeManagement']" [queryParams]="{ 'companyId': 8044008}">Atlanta</a>
        </li>
        <li class="listyle">
          <a>Denver</a>
        </li>
        <li class="listyle">
          <a>Santa Ana</a>
        </li>
        <li class="listyle">
          <a>Philadelphia</a>
        </li>
      </ul> -->


      <table class="width100">
        <tr *ngFor="let company of allCompanynames" class="listyle">
          <td>
            <a (click)="comapnyRout(company.uniqueId)">{{company.companyCity}}</a>
          </td>
        </tr>
      </table>
      <br><br><br>
    <div class="line2"></div>
    <div class="footer">
        TapTrack - accessing documents just got easier
    </div>
    </div>


  </div>
