<div class="fsize16 f-bold">User Activity Report</div>
<div class="hr12"></div>
<div class="row">
    <form>
        <div *ngIf="error" class="mtop20 mbtm20">
            <span class="colorRed">Please Enter UserName.</span>
        </div>
        <div *ngIf="error1" style="color: red;">sorry! No results found!</div>
        <div class="col-sm-12">
            <div class="col-sm-3 pleft0">
                <table class="width100percent mtop20" style="    margin-top: 40px;">
                    <tr>
                        <td>
                            User Name :
                                <ng2-completer multiple="multiple" style="height: 23px;" name="reciever" [(ngModel)]="item.reciever" placeholder="select User"
                                    [datasource]="userArr" (click)="itemreciever(item.reciever)" [minSearchLength]="0"
                                    [matchClass]="matchClass" [autofocus]="true" auto-match="true">
                                </ng2-completer>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 pleft0">
                <table class="width100percent mtop20">
                    <tr>
                        <td>
                            <div>
                                <div class="mtop20">From Date :</div>
                                <my-date-picker name="FromDate" class="mtop20" [options]="myDatePickerOptions"
                                    [(ngModel)]="Query.FromDate"
                                    (dateChanged)="onDateChanged($event,Query.FromDate,Query.ToDate)" required>
                                </my-date-picker>
                            </div>

                            <!-- <input type="date"  name="FromDate" [(ngModel)]="Query.FromDate" class="mright10"><span
                                style="color:red">*</span><img src="../../../../assets/imgs/cal.gif"> -->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3 pleft0">
                <table class="width100percent mtop20">
                    <tr>
                        <td>
                            <div class="mtop20">To Date :</div>
                            <my-date-picker name="ToDate" [options]="myDatePickerOptions" [(ngModel)]="Query.ToDate"
                                (dateChanged)="onDateChanged($event,Query.FromDate,Query.ToDate)" required>
                            </my-date-picker>
                            <!-- <input  type="date" name="ToDate" [(ngModel)]="Query.ToDate" class="mright10"><span
                                style="color:red">*</span><img src="../../../../assets/imgs/cal.gif"> -->
                        </td>
                    </tr>
                </table>
            </div>
            <!-- <div class="col-sm-3 pleft0">
                <table class="width100percent mtop20">
                    <tr>
                        <td>
                            <button class="submitBtn mbtm7" tabindex="5" (click)="GetReport()">Submit</button>
                        </td>
                    </tr>
                </table>
            </div> -->
        </div>
        <div class="m25" style="    margin-left: 15px;">
            <button class="submitBtn1 mright10" (click)="generatehtml()">HTML Report</button>
            <button class="submitBtn1 mright10" (click)="getPdf()">PDF REPORT</button>
            <button class="submitBtn" (click)="clearfields()">CLEAR</button>
        </div>
    </form>
</div>
<!-- <div class="row" *ngIf="TrnscationsReportsData.length > '0'">
    <div class="row addlist m25" style="margin-top: 40px;">
        <div>
            <div class="f-size13 fleft">Documents Own.</div>
            <div class="fright">Send to: <input type="text"></div>
        </div>
        <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
            <thead>
                <tr class="header">
                    <td>User Name</td>
                    <td>Reciever Id</td>
                    <td>Status Id</td>
                    <td>Transaction Time</td>
                    <td>Succeed Time</td>

                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let user of TrnscationsReportsData">
                    <td>{{usersData.userFirstName}} </td>
                    <td>{{user.reciever}}</td>
                    <td>{{user.transStatusId}}</td>
                    <td>{{user.transSucceedTime | date:'dd-mm-yyyy'}}</td>
                    <td>{{user.transSucceedTime| date:'dd-mm-yyyy'}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div> -->