<div class="row mrl0" *ngIf="show">
  <div class="fsize16 f-bold">Info</div>
  <div *ngIf="detailserror" style="color: red;">{{searchDataerror}}</div>
  <div class="hr12"></div>
  <div class="PageHd2">
          {{details.successobjCount}} item(s) successfully assigned to {{reciever}}.
  </div>
</div>
<div *ngIf="!show">
<div class="fsize16 f-bold">Assign To User</div>
<div class="hr12"></div>
<div class="mtop20 mbtm20">
  
    <table class="tablewidth">
      <tr>
        <td>
          <div class="colorRed" *ngIf="errrMsg">
            Invalid Item, Please checkitem provided
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>User Name</div>
          <!-- <input  name="username" tabindex="1"   type="text" class="inputStyle mbtm7"> -->
          <ng2-completer name="reciever" [(ngModel)]="reciever" [datasource]="userArr" id="sendTo" [minSearchLength]="0" [matchClass]="matchClass"
            [autofocus]="true" auto-match="true"></ng2-completer>
        </td>
      </tr>
      <tr>
        <td>
          <div>Unique ID</div>
          <form (ngSubmit)="uniqueId()">
            <!-- <input  name="uniqueId" tabindex="2" [(ngModel)]="uniqueId"  type="text" class="inputStyle mbtm7"> -->

            <input type="text" style="height: 22px;width:180px" [(ngModel)]="useruniqueId" name="useruniqueId" [ngModelOptions]="{standalone: true}">
            <br>
            <div>Total Items To Process</div>
            <textarea class="textarea width32pc" tabindex="3" rows="2" style="word-wrap:break-word" [(ngModel)]="textAreaString" [ngModelOptions]="{standalone: true}"></textarea>
          </form>
        </td>
      </tr>
      <!-- <tr>
        <td>
          <div>Total Items To Process</div>
          <textarea tabindex="3" rows="2" class="width32pc" disabled></textarea>
        </td>
      </tr> -->
      <tr>
        <td>
          <div>
            <button class="submitBtn mright10" (click)="submitAssigntoUser()">SUBMIT</button>
            <button class="submitBtn mright10" (click)="clear()">CLEAR LIST</button>
            <button class="submitBtn" (click)="cancelProfile()">CANCEL</button>
          </div>
        </td>
      </tr>
    </table>
  
</div>
</div>