<div class="fsize16 f-bold"><a>Binders Processed Report</a></div>
<div class="hr12"></div>
<div class="row">
    <form>
        <div *ngIf="error" class="mtop20 mbtm20">
            <span class="colorRed">Please Select From/To Date.</span>
        </div>
        <div *ngIf="error1" style="color: red;">sorry! No records found</div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <table class="width100percent mtop20" style="width: 100%">
                    <tr>
                        <td>
                            <div class="mtop20">From Date :</div>
                            <my-date-picker name="fromDate" [options]="myDatePickerOptions"
                                (dateChanged)="onDateChanged($event,Query.fromDate,Query.toDate)"
                                [(ngModel)]="Query.fromDate" required></my-date-picker>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="width100percent mtop20" style="width: 100%">
                    <tr>
                        <td>
                            <div class="mtop20">To Date :</div>
                            <my-date-picker name="toDate" [options]="myDatePickerOptions"
                                (dateChanged)="onDateChanged($event,Query.fromDate,Query.toDate)"
                                [(ngModel)]="Query.toDate" required></my-date-picker>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="m25">
            <button class="submitBtn1 mright10" (click)="getItemList()">HTML Report</button>
            <button class="submitBtn1 mright10" (click)="getPdf()">PDF REPORT</button>
            <!-- <button class="submitBtn1 mright10" (click)="generateExcel()"> Excel Report</button> -->
            <button class="submitBtn" (click)="clearfilds(fromDate,toDate)">CLEAR</button>
        </div>
    </form>
</div>
<script>

    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy'
    });
</script>