<div *ngIf="showDiv">
  <div class="fsize16 f-bold">Add Item Type</div>
  <div class="hr12"></div>
  <div *ngIf="validationError" style="color: red;">enter unique format for item type </div>
  <div class="mtop20">
    <div class="Content">
      <div id="bubble_tooltip" style="display: none; left: 530px; top: 198px;">
        <div class="bubble_top">
          <span></span>
        </div>
        <div class="bubble_middle">
          <span id="bubble_tooltip_content">Please enter mask for item type</span>
        </div>
        <div class="bubble_bottom"></div>
      </div>
      <form (ngSubmit)="createItemType()">
        <table class="tablewidth">
          <tr>
            <td colspan="2">
              <div class="colorRed" *ngIf="itemtypeshow">Item Type is required.</div>
              <div class="colorRed" *ngIf="itemtypDescshw">Item Type Description is required.</div>
              <div class="colorRed" *ngIf="formatShw">Format is required.</div>
              <div class="colorRed" *ngIf="timeLimitShw">Time limit (in days) is required.</div>
            </td>
          </tr>
          <tr>
            <td>
              Item Type:
            </td>
            <td>
              <input name="itemType" onmouseover="showToolTip(event,'Please enter item type');return false"
                onmouseout="hideToolTip()" [(ngModel)]="item.itemType" tabindex="1" type="text"
                class="inputStyle mbtm7">
              <span class="colorRed">*</span>
            </td>
          </tr>
          <tr>
            <td>
              Item Type Description:
            </td>
            <td>
              <input name="itemTypeDesc"
                onmouseover="showToolTip(event,'Please enter item type description');return false"
                onmouseout="hideToolTip()" [(ngModel)]="item.itemTypeDesc" tabindex="2" type="text"
                class="inputStyle mbtm7">
              <span class="colorRed">*</span>
            </td>
          </tr>
          <tr>
            <td>
              Format (a,A,9,-):
            </td>
            <td>
              <input dir="ltr" name="regexFormat" title="Only numbers, letters and - are allowed !"
               id='iFormat' name="1"  required="'required'" autocomplete="off"
                onmouseover="showToolTip(event,'Please enter mask for item type');return false"
                onmouseout="hideToolTip()" [(ngModel)]="item.regexFormat" tabindex="3" type="text"  (keypress)="numberOnly($event)"
                class="inputStyle mbtm7">
              <span class="colorRed">*</span>
            </td>
          </tr>
          <tr>
            <td>
              Days to Complete Process:
            </td>
            <td>
              <!-- <span *ngFor="let item of arrayOne(8); let i = index;">{{i}} </span> -->
              <select tabindex="1" class="mbtm7" name="limitTime" [(ngModel)]="item.limitTime"
                [ngModelOptions]="{standalone: true}">
                <option [ngValue]="null" disabled>---Please Select---</option>
                <option *ngFor="let item of arrayOne(97); let i = index;">{{i+4}}</option>
              </select><span class="colorRed">*</span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <!-- <button class="submitBtn mbtm7" tabindex="5" (click)="login()">Submit</button> -->
              <input value="ADD ITEM TYPE" type="submit" class="submitBtn1"  />

              <br><br>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>



</div>

<div *ngIf="!showDiv">
  <div class="row mrl0">
    <div class="fsize16 f-bold">Info</div>
    <div class="hr12"></div>
    <div class="PageHd2">
      Item Type added successfully.
    </div>
  </div>
</div>
