#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-image: url(../../../../assets/imgs/button1a.gif);
    /* border-width: 1px; */
    /* border-radius: 4px; */
    padding: 0px;
    margin: 0;
    list-style: none;
    height: 40px;
    position: relative;
    font-family: arial, verdana, sans-serif;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: rgba(248, 248, 248, 0);
    text-align: center;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-image: url("../../../../assets/imgs/button4.gif");
    border-right: 1px solid #0d57b0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 6px;
}
.navbar{
    min-height: 40px;
}

  .dropdown {
    position: relative;
    display: inline-block;
    width:112px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ccc;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;}    */
  .tablestyle{
    width: 100%;
    color: #999;
    font-weight: bold;
    font-family: cursive;
  }
select{
    width: 195px;
}