<div class="fsize16 f-bold">Home</div>
<div class="hr12"></div>
<div class="fsize14 colorblue">
 <div class="tablestyle binderCount m25">Total Unique Case Binder's Tracked via TapTrack :  {{count}}</div>

 <table class="TblData1 m25" border="1" bordercolor="#363593" *ngIf="showmessageTable">
     <tr>
         <td colspan="2" class="f-bold">
             New Messages
         </td>
     </tr>
     <tr *ngFor="let m of messageData; let i = index">
         <td colspan="2">
             <br>
            <div class="f-bold">
                    {{m.messageName}}
            </div>
            <div>
                    {{m.messageDesc}}
            </div>
            <br>
         </td>
         
     </tr>
 </table>
</div>