<div class="row">
    <img src="../../assets/imgs/logo.png" class="logoStyle">
  </div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pleft0">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pleft0">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/login">Login</a>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pleft0">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/superAdminLogin">Super Admin Login</a>
        </div>
      </div>
    <hr class="line"> 
<!-- forgot start -->
<div class="row">
    <div class="col-sm-12">
        <div class="loginHeader">Forgot Password</div>
    </div>
    <div class="mtop70 mleft40">
      <form>
          <table class="tablewidth">
            <tr>
              <td colspan="2">
                  <div class="mbtm20">
                      <div class="colorRed" *ngIf="usernameshow">User Name is required</div>
                      <div class="colorRed" *ngIf="wrngEntry"> 
                          User does not exist                        
                      </div>
                    </div>
              </td>
            </tr>
              <tr>
                <td>
                    Company Unique ID:
                </td>
                <td>
                  <!-- <input name="companyId" [(ngModel)]="loginForm.companyId" type="text" class="inputStyle"> -->
                  <select tabindex="1" class="mbtm7" [(ngModel)]="loginForm.companyId" [ngModelOptions]="{standalone: true}">                          
                    <option *ngFor="let company of allCompanynames"  name="companyId"  value="{{company.companyId}}"> {{company.companyCity}}</option>
                  </select><span class="colorRed">*</span>
                </td>
              </tr>
              <tr>
                <td>
                    User Name:
                </td>
                <td>
                  <input name="username" [(ngModel)]="loginForm.username" style="width: 170px;"  type="text" class="inputStyle">
                  <span class="colorRed">*</span>
                </td>
              </tr>             
              <tr>
                <td></td>
                <td>
                  <button (click)="forgotPassword()" class="submitBtn">Submit</button>
                  <br><br>
                </td>
              </tr>
            </table>
      </form>
    </div>
    <hr class="line1">
  </div>
<!-- forgot end -->


    
  </div>
