<div *ngIf="changeshow">
  <div class="fsize16 f-bold">
    Change Item Status</div>
<div *ngIf="searchDataerror" style="color: red;">{{searchDataerror}}</div>

  <div class="hr12"></div>
  <div class="row">
    <form>
      <div class="col-sm-12">
        <div class="col-sm-4">
          <table style="width: 100%">
            <tr>
              <td>
                <div>
                  <b>Filter Values</b>
                  <br> Status:</div>
                <select class="height25" [(ngModel)]="itemStatusId" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let status of filterData" name="itemStatusId" value="{{status.itemStatusId}}">
                    {{status.description}}</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4">
          <table style="width: 100%">
            <tr>
              <td>
                <div class="mtop20">User Name :</div>
                <ng2-completer name="reciever" [(ngModel)]="reciever" [datasource]="userArr" id="sendTo"
                  [minSearchLength]="0" [matchClass]="matchClass" [autofocus]="true" auto-match="true"></ng2-completer>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="m25">
        <button class="submitBtn mright10" (click)="initCount1()">SEARCH</button>
        <button class="submitBtn mright10" (click)="clear()">CLEAR</button>
      </div>
    </form>
    <div class="row m25">
      <!-- <div class="col-sm-12 overflowScroll">
                <div>
                    There was an error performing the operation. Please see the stack trace below.
                </div>
                <div class="mtop20">
                    <button>Show stack Trace...</button>
                </div>
            </div> -->
      <div class="col-sm-12" style="padding-left: 0px;">
        <div class="row addlist m25" style="margin-left: 0px;">
          <table *ngIf="tableshow" id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped"
            width="770px">
            <thead>
              <tr class="toolbar">
                <td colspan="6">
                  <table border="0" cellpadding="0" cellspacing="1">
                    <tbody>
                      <tr>
                          <td (click)="nextPage1('first')" *ngIf="pagination_numbers1.fromNumber > 0">
                              <img src= "../../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                            </td>
                            <td (click)="nextPage1('previous')" *ngIf="pagination_numbers1.fromNumber > 0">
                                <img src= "../../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                            </td>
                        <td (click)="nextPage1('first')"  *ngIf="pagination_numbers1.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif"
                            alt="First"></td>
                        <td (click)="nextPage1('previous')"  *ngIf="pagination_numbers1.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif"
                            alt="Prev"></td>
                        <td (click)="nextPage1('next')" *ngIf="pagination_numbers1.toNumber != pagination_numbers1.totalNumber"><a><img src="../../../../assets/imgs/nextPage.gif"
                              title="Next Page" alt="Next"></a></td>
                        <td (click)="nextPage1('last')" *ngIf="pagination_numbers1.toNumber != pagination_numbers1.totalNumber"><a><img src="../../../../assets/imgs/lastPage.gif"
                              title="Last Page" alt="Last"></a></td>
                              <td (click)="nextPage1('last')" *ngIf="pagination_numbers1.toNumber == pagination_numbers1.totalNumber">
                                  <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                                  <td (click)="nextPage1('next')" *ngIf="pagination_numbers1.toNumber == pagination_numbers1.totalNumber">
                                      <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                        <td><img src="../../../../assets/imgs/separator.gif" alt="Separator"></td>
                        <td>
                          <select style="width:45px;border-right:0px;" (change)="filterForPageSize1($event.target.value)">
                            <option selected value=7>7</option>
                            <option value=10>10</option>
                            <option value=15>15</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr class="header">
                <td>Edit</td>
                <td>Item Id</td>
                <td>Item Type</td>
                <td>Status</td>
                <td>User</td>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr *ngFor="let m of searchData; let i = index">
                <td><input type="checkbox" (change)="checkstatus(m.isChecked?true:false, m)" [name]="'isChecked'+i"
                    [checked]="m.isChecked" [(ngModel)]="m.isChecked"></td>
                <td>{{m.itemUniqueId}}</td>
                <td>{{m.itemtype?m.itemtype.itemType:'--'}}</td>
                <td>{{m.itemstatus?m.itemstatus.description:'--'}}</td>
                <td>{{m.currentOwnerx?m.currentOwnerx.userFirstName:'--'}} {{m.currentOwnerx?m.currentOwnerx.userLastName:'--'}}</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="statusBar">
                <td align="left" colspan="6">
                    <span *ngIf="pagination_numbers1.totalNumber>0">
                      Results {{pagination_numbers1.fromNumber + 1}} - {{pagination_numbers1.toNumber}} of
                      {{pagination_numbers1.totalNumber}}.
                    </span>
                    <span *ngIf="!pagination_numbers1.totalNumber>0">
                      There were no results found.
                    </span>
        
                  </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="noResult">
            <h4 class="text-center f-bold">There were no results found.</h4>
          </div>
        </div>
      </div>
      <button class="submitBtn mright10" (click)="edit()">EDIT</button>
    </div>
  </div>
</div>
<div *ngIf="changeshow1">
  <div class="fsize16 f-bold">
    Edit Item Status</div>
  <div class="hr12"></div>
  <div class="row">
    <form>
      <div style="margin-left: 30px;margin-top: 20px;">
        <b class="colorBlue">Items :</b>
      </div>
      <div style="margin-left: 90px;margin-bottom: 30px;">
        <b class="colorBlue">{{idsOfMessagesToSend}}</b>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4">
          <table style="width: 100%">
            <tr>
              <td>
                <div *ngIf="ownerShow">
                  <span class="colorRed">OwnerName is required.</span>
                </div>
                <div *ngIf="changeStatus">
                  <span class="colorRed">Change Status is required.</span>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <div>
                  <b>Change Status :</b>
                </div>
                <select class="height25" [(ngModel)]="itemStatusId1" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let status of filterData1" name="itemStatusId1" value="{{status.itemStatusId}}">
                    {{status.description}}</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4">
          <table style="width: 100%">
            <tr>
              <td>
                <div class="f-bold">Change Owner :</div>
                <select [(ngModel)]="reciever1" [ngModelOptions]="{standalone: true}">
                  <option selected disabled>--- select option---</option>
                  <option *ngFor="let owner of userArr1" name="reciever1" value="{{owner.id}}">
                    {{owner.userFirstName}}{{owner.userLastName}}({{owner.userName}})
                  </option>
                </select>
                <!-- <ng2-completer name="reciever1" [(ngModel)]="reciever1" [datasource]="userArr" id="sendTo" [minSearchLength]="0" [matchClass]="matchClass"
                                    [autofocus]="true" auto-match="true"></ng2-completer> -->
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="m25">
        <button class="submitBtn mright10" (click)="submitEdit()">SUBMIT</button>
      </div>
    </form>

  </div>
</div>
<div class="row mrl0" *ngIf="showsuccess">
  <div class="fsize16 f-bold">Info</div>
  <div class="hr12"></div>
  <div class="PageHd2">
    Item(s) Status changed successfully.
  </div>
</div>
