<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-pulse-sync" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div style="overflow-y: auto;height: 590px;">
    <div class="col-sm-12 mbtm20">
        <h2 class="centerText">Items Sent By User Report</h2>
    </div>
    <div *ngIf="reportsArryerror" style="color: red;">{{reportsArryerror}}</div>
    <div class="mtop70 mbtm20" *ngIf="!reportsArryerror">
        <table style="width:80%">
            <tr>
                <td>
                    <h5 class="f-bold">Name</h5>
                </td>
                <td>
                    <h5 class="f-bold">:&nbsp;{{reportsArry[0].senderx.userFirstName}} {{reportsArry[0].senderx.userLastName}}</h5>
                </td>
                <td>
                    <h5 class="f-bold">Number of items sent</h5>
                </td>
                <td>
                    <h5 class="f-bold">:&nbsp;{{reportsArry.length}}</h5>
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="f-bold">User Name</h5>
                </td>
                <td>
                    <h5 class="f-bold">:&nbsp; {{reportsArry[0].senderx.username}}</h5>
                </td>
            </tr>
        </table>
    </div>

    <div class="mtop70 mbtm20" *ngIf="!reportsArryerror">
        <table style="width:80%" border=1>
            <tr>
                <th class="centerText" style="line-height: 3;">Item Number</th>
                <th class="centerText" style="line-height: 3;">Tag Name</th>
                <th class="centerText" style="line-height: 3;">Receiver</th>
                <th class="centerText" style="line-height: 3;"><b>Sent Date</b></th>
            </tr>
            <tr *ngFor="let item of reportsArry">
                <td class="centerText" style="line-height: 3;">{{item.itemUniqueId}}</td>
                <td class="centerText" style="line-height: 3;">{{item.tagName}}</td>
                <td class="centerText" style="line-height: 3;">{{item.Reciever}}</td>
                <td class="centerText" style="line-height: 3;">{{item.transactionTime | date:'yyyy-MM-dd hh:mm:s'}}</td>
            </tr>
        </table>
    </div>
</div>