<div class="row">
    <div class="col-md-2 col-sm-2">
    </div>
    <div class="col-md-8 col-sm-8" id="printDiv">
        <ngx-barcode [bc-value]="uniqueId" style="margin-left:6%" [bc-height]="60"></ngx-barcode>
    </div>
    <div class="col-md-2 col-sm-2">
    </div>
</div>
<div class="row">
    <h3 style="margin-left:10%">{{uniqueId}}</h3>
    <br>
    <button class="btn btn-primary" style="margin-left:5%" (click)="printBarcode()">Print</button>
    <button class="btn btn-primary" style="margin-left:11%" (click)="closeWindow()">Close</button>
</div>