<div class="col-sm-12 "> 
        <h1 class="text-center mbtm20">GLOSSARY</h1>
        <div class="reportstyle">
            <h4 class="text-center f-bold">REPORTS</h4>
            <table class="width100">
                <tr>
                    <td class="f-bold">Items Audit</td>
                    <td>
                        <span>Show the audit trail of a give item, indicating both date, time and username.</span>
                    </td>
                </tr>
                <tr>
                    <td class="f-bold">User Tracking</td>
                    <td>
                            Show all of the binders that are currently owned by a particular user.
                    </td>
                </tr>
                <tr>
                    <td class="f-bold">Item Closed</td>
                    <td>
                            Show all or filtered items that are closed
                    </td>
                </tr>
                <tr>
                    <td class="f-bold">Item Search</td>
                    <td>
                            Shows any particular group of items by user type, username or item number
                    </td>
                </tr>
                <tr>
                    <td class="f-bold"> Time Held</td>
                    <td >
                            Show all or filtered item by how long they have been held by any user
                     </td>
                </tr>
            </table>
        </div>
        <div class="status">
                <h4 class="text-center f-bold mbtm20">STATUSES</h4>
                <table border="1" class="width100">
                    <tr>
                        <td class="f-bold">Closed</td>
                        <td>
                            <span>Item is no long available to the system and has been sent to the RECORD CENTER</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="f-bold">Owned</td>
                        <td>
                                Item that is assigned to a user
                        </td>
                    </tr>
                    <tr>
                        <td class="f-bold">Ready</td>
                        <td>
                                Item that has been entered into the inventory but has not been assign to an user
                        </td>
                    </tr>
                    <tr>
                        <td class="f-bold">Return to Lender - Close</td>
                        <td>
                                Item that is return to a lender for further completion
                        </td>
                    </tr>
                    <tr>
                        <td class="f-bold">Send to other dept</td>
                        <td>
                                Item has been sent to another department that does not have access to TAPTrack
                         </td>
                    </tr>
                </table>
            </div>
    </div>