.reportstyle{
    margin: auto;
    display: table;
    left: 0;
    right: 0;
    margin-bottom: 50px;
    font-size: 13px;
}
td, th{
    padding: 5px;
    border: 4px double #000;
}
.width100{
    width: 100%;
}
.status{
    margin: auto;
    display: table;
    left: 0;
    right: 0;
    font-size: 13px;
}