<div class="fsize16 f-bold">
    Messages</div>
<div class="hr12"></div>
<div class="row addlist m25">
    <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
        <thead>
            <tr class="toolbar">
                <td colspan="5">
                    <table border="0" cellpadding="0" cellspacing="1">
                        <tbody>
                            <tr>
                                    <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber > 0">
                                            <img src= "../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                                          </td>
                                          <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber > 0">
                                              <img src= "../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                                          </td>
                                <td (click)="nextPage('first')"  *ngIf="pagination_numbers.fromNumber <= 0">
                                    <img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First">
                                </td>
                                <td (click)="nextPage('previous')"  *ngIf="pagination_numbers.fromNumber <= 0">
                                    <img src="../../../../assets/imgs/prevPageDisabled.gif" alt="Prev">
                                </td>
                                <td (click)="nextPage('next')"  *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber">
                                    <a>
                                        <img src="../../../../assets/imgs/nextPage.gif" title="Next Page" alt="Next">
                                    </a>
                                </td>
                                <td (click)="nextPage('last')"  *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber">
                                    <a>
                                        <img src="../../../../assets/imgs/lastPage.gif" title="Last Page" alt="Last">
                                    </a>
                                </td>
                                <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                                        <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                                        <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                                            <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                                <td>
                                        
                                    <img src="../../../../assets/imgs/separator.gif" alt="Separator">
                                </td>
                                <td>
                                    <select style="width:45px;border-right:0px;" (change)="filterForPageSize($event.target.value)">
                                        <option selected value=7>7</option>
                                        <option value=10>10</option>
                                        <option value=15>15</option>
                                    </select>
                                </td>
                                <td>
                                    <img src="../../../../assets/imgs/save.jpg" alt="save" style="cursor: pointer;" (click)="sendStoredMessages()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="header">
                <td>Enable/Disable</td>
                <td>Status</td>
                <td>Message Name</td>
                <td>Message Desc</td>
                <td>Add Time</td>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let m of itemList; let i = index">
                <td>
                    <input type="checkbox" (change)="storeMessagesToSend(m.isChecked?true:false, m)" [name]="'isChecked'+i" [checked]="m.isChecked"
                        [(ngModel)]="m.isChecked">
                </td>
                <td *ngIf='m.status==0'>Disabled</td>
                <td *ngIf='m.status== 1'> Enabled</td>
                <td>{{m.messageName}}</td>
                <td>{{m.messageDesc}}</td>
                <td>{{m.addTime | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>

        </tbody>
        <tbody>
            <tr class="statusBar">
                <td align="left" colspan="6">
                    <span *ngIf="pagination_numbers.totalNumber>0">
                        Results {{pagination_numbers.fromNumber + 1}} - {{pagination_numbers.toNumber}} of {{pagination_numbers.totalNumber}}.
                    </span>
                    <span *ngIf="!pagination_numbers.totalNumber >0">
                        There were no results found.

                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="submitBtn1" style="display: table;margin:auto;margin-bottom: 20px;" routerLink="/addmessage">ADD MESSAGE</button>
    </div>
</div>