
<div *ngIf="succesShow">
    <div class="row mrl0" style="margin: 5px;">
        <div class="fsize16 f-bold">Info</div>
        <div class="hr12"></div>
        <!-- <a (click)="back()" class="back"> Back</a> -->
        <div class="PageHd2">
            Item(s) saved successfully.
        </div>       
    </div>
</div>
<div *ngIf="!succesShow">
<div class="fsize16 f-bold">Add Package Item</div>
<div class="hr12"></div>
<div class="row mtop20">
    <form>
        <div class="col-sm-6">
            <p style="color: red" *ngIf="errorMessage">{{errorMessage}}</p>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                <table style="width: 100%">
                    <tr>
                        <td width="8%"></td>
                        <td>Unique ID</td>
                    </tr>
                    <tr>
                        <td width="8%">1</td>
                        <td>
                            <input name="uniqueId" (keyup)="insertDash(item, item.uniqueId)"
                                (keypress)="numberOnly($event)" [(ngModel)]="item.uniqueId" [maxlength]="maxInputLength"
                                type="text" [disabled]="item.uniqueCheckbox">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            System Generated Unique ID? <input type="checkbox" autofocus name="uniqueCheckbox"
                                [(ngModel)]="item.uniqueCheckbox" (change)="checkBoxChanged(item.uniqueCheckbox)"
                                value="item.uniqueCheckbox">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-3">
                <div class="TagDiv1">
                    <table style="width:100%;">
                        <tr>
                            <td class="Tag1">
                                TAG .
                            </td>
                        </tr>
                        <tr>
                            <td>Sender :</td>
                        </tr>
                        <tr>
                            <td>
                                <input name="tagName" [(ngModel)]="item.tagName" type="text" style="width: 135px;">
                            </td>
                        </tr>
                        <tr>
                            <td>Package Info:</td>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="tagDesc" [(ngModel)]="item.tagDesc" rows="9"
                                    class="color-000"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div class="f-bold">Item Type:</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select tabindex="1" class="mbtm7" [(ngModel)]="item.itemType"
                                [ngModelOptions]="{standalone: true}" (change)="onChange(item.itemType)">
                                <option *ngFor="let itemT of getItemData" name="itemTypeId"
                                    value="{{itemT.itemTypeId}}"> {{itemT.itemType}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Format: {{format}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="f-bold mtop20">Assign To User ? <input name="transFlag"
                                    (change)="triggerSomeEvent()" [(ngModel)]="item.transFlag" type="checkbox"
                                    value="item.transFlag">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ng2-completer name="reciever" [disabled]="!item.transFlag" [(ngModel)]="item.reciever"
                                [datasource]="userArr" [minSearchLength]="0"
                                [matchClass]="matchClass" [autofocus]="true" auto-match="true">
                            </ng2-completer>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="m25">
            <button class="submitBtn mright10"  (click)="createPackage()"
                (dblclick)="createPackage()" type="submit">SUBMIT</button>
            <button type="button" (click)="cancel()" class="submitBtn">CANCEL</button>
        </div>
    </form>
</div>
</div>

<!-- </div>
</div>
<div class="m25">
    <button class="submitBtn mright10">SUBMIT</button>
    <button class="submitBtn">CANCEL</button>
</div>

</div> -->