<div>
        <div class="fsize16 f-bold">Info</div>
    <div class="hr12"></div>
    <div class="row">
        <div class="PageHd2">
                Add Message Successfully.
        </div>
           
    </div>
</div>
