<div class="row">
    <img src="../../assets/imgs/logo.png" class="logoStyle">
</div>
<div class="row">
    <hr class="line">

    <!-- forgot start -->
    <div class="row">
        <div class="col-sm-12">
            <div class="loginHeader">Print Barcodes</div>
        </div>
        <div class="mtop20 mleft40" style="margin-top:45px;">

            <div>

                <table class="tableWidthBar">
                    <tr *ngFor="let code of codes">
                        <td *ngIf="code">
                            <input type="text" [autofocus]="true" class="printInput inputs"
                                (keypress)="numberOnly($event)" (keyup)="insertDash(code)" maxlength="10"
                                [(ngModel)]="code.value" (keydown)="handleKeyDown($event,'printId')">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="displayBtn" (click)="printTable('printId')">Display</button>
                        </td>
                        <td>
                            <button class="displayBtn" (click)="reset()">Reset</button>
                        </td>
                    </tr>

                </table>
              
            </div>
        </div>
        <hr class="line1">
    </div>
    <!-- forgot end -->



</div>
        <div  style="visibility: hidden;" id="printId">
                <div *ngFor="let code of codes"   >
                    <div *ngIf="code.value">
                            <p></p>
                            <p *ngIf="code.value" style="text-align:center;margin:auto">TAPTRACK</p>
                                <ngx-barcode [bc-value]="code.value"  [bc-width]="1.7"
                                style="display: table;text-align:center;margin:auto;left:0px;right:0px;" [bc-height]="25">
                            </ngx-barcode>
                            <ngx-barcode [bc-value]="code.valueWithoutDash" [bc-width]="2.5"
                                style="display: table;text-align:center;margin:auto;left:0px;right:0px;" [bc-height]="17">
                            </ngx-barcode><br>
                            <h1 *ngIf="code.value" style="text-align:center;margin:auto">{{code.value}}</h1>
                    </div>
                  
        
                </div>
            </div>
