.printInput{
    margin: 5px;
    border: 1px solid #d7d7d7;
    width: 95px;
    padding: 1px;
}
.tableWidthBar{
    width: 20pc;
    margin: auto;
}
.displayBtn{
    background: #f2f2f2;
    border: 1px solid #d7d7d7;
}
