
<div class="row">
    <img src="../../assets/imgs/logo.png" class="logoStyle">
  </div>
<div class="row">    
    <hr class="line">
 
<!-- start -->
<div class="row">
    <div class="col-sm-12">
        <div class="loginHeader">Item Inventory</div>
    </div>
    <div class="mtop70 mleft40" >
      <form>
          <div *ngIf="error" class="mtop20 mbtm20">
              <span class="colorRed">Please enter Item Number.</span>
          </div>
          <div *ngIf="error1" style="color: red;">sorry! The item doesnt exist</div>
          <div>Item Number :</div>
          <div>
              <input type="text" [(ngModel)]="itemInvetordata.itemUniqueId" name="itemUniqueId">
          </div>
          <div>
            <button class="submitBtn mright10" target="popup" (click)="getItemList()">HTML REPORT</button>
            <button class="submitBtn mright10" target="popup" (click)="getPdf()">PDF REPORT</button>
            <button class="submitBtn" (click)="clear()">CLEAR</button>
        </div> 
      </form>
    </div>
    <hr class="line1">
  </div>


    
  </div>


  