<div class="fsize16 f-bold">Item Checkout</div>
<div *ngIf="itemChecklisterror" style="color: red;">{{itemChecklisterror}}</div>

<div class="hr12"></div>
<div class="row">
    <form>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div><b>Filter Values</b> <br> Item ID:</div>
                            <input type="text" style="height: 22px;width:170px" name="searchItemUniqId"  [(ngModel)]="searchQuery.itemUniqId">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div class="mtop20">From Date :</div>
                            <!-- <input type="text" name="searchFromDate" [(ngModel)]="searchQuery.fromDate"> -->
                            <my-date-picker name="fromDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,datePicker.fromDate,datePicker.toDate)"
                                [(ngModel)]="datePicker.fromDate" required></my-date-picker>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div class="mtop20">To Date :</div>
                            <!-- <input type="text"  name="searchToDate" [(ngModel)]="searchQuery.toDate"> -->
                            <my-date-picker name="toDate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,datePicker.fromDate,datePicker.toDate)"
                                 [(ngModel)]="datePicker.toDate" required>
                            </my-date-picker>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="m25">
            <button class="submitBtn mright10" (click)="searchItems(datePicker)">SEARCH</button>
            <button class="submitBtn mright10" (click)="clearSearch()">CLEAR</button>
        </div>
    </form>
</div>
<div class="row addlist " style="margin-left: 13px;">
    <div class="f-bold">Items In Ready State</div>
    <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
        <thead>
            <tr class="toolbar">
                <td colspan="6">
                    <table border="0" cellpadding="0" cellspacing="1">
                        <tbody>
                                <tr>
                                        <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber > 0">
                                            <img src= "../../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                                          </td>
                                          <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber > 0">
                                              <img src= "../../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                                          </td>
                                      <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First">
                                      </td>
                                      <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif" alt="Prev">
                                      </td>
                                      <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/nextPage.gif" title="Next Page"
                                            alt="Next"></a></td>
                                      <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/lastPage.gif" title="Last Page"
                                            alt="Last"></a></td>
                                            <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                                                <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                                                <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                                                    <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                                      <td><img src="../../../../assets/imgs/separator.gif" alt="Separator"></td>
                                      <td>
                                            <a><img src="../../../../assets/imgs/checkout.jpg" class="cursropointer"
                                                    (click)="scancheckoutSubmit()"></a>
                                        </td>
                                      <td>
                                        <select style="width:45px;border-right:0px;" (change)="filterForPageSize($event.target.value)">
                                          <option selected value=7>7</option>
                                          <option value=10>10</option>
                                          <option value=15>15</option>
                                        </select>
                                      </td>
                                    </tr>
                            <!-- <tr>
                                    <td (click)="nextPage('first')" *ngIf="pageSkip > 0">
                                            <img src= "../../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                                          </td>
                                          <td (click)="nextPage('previous')" *ngIf="pageSkip > 0">
                                              <img src= "../../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                                          </td>
                                <td (click)="nextPage('first')"  *ngIf="pageSkip <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif"
                                        alt="First"></td>
                                <td (click)="nextPage('previous')"  *ngIf="pageSkip <= 0"><img
                                        src="../../../../assets/imgs/prevPageDisabled.gif" alt="Prev"></td>
                                <td (click)="nextPage('next')" *ngIf="((pageSkip)+(pageLimit))!=totalItemsCount"><a><img src="../../../../assets/imgs/nextPage.gif"
                                            title="Next Page" alt="Next"></a>
                                </td>
                                <td (click)="nextPage('last')" *ngIf="((pageSkip)+(pageLimit))!=totalItemsCount"><a><img src="../../../../assets/imgs/lastPage.gif"
                                            title="Last Page" alt="Last"></a>
                                </td>
                                <td (click)="nextPage('last')" *ngIf="((pageSkip)+(pageLimit)) == totalItemsCount">
                                        <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                                        <td (click)="nextPage('next')"  *ngIf="((pageSkip)+(pageLimit)) == totalItemsCount">
                                            <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                                <td><img src="../../../../assets/imgs/separator.gif" alt="Separator"></td>
                                <td>
                                    <select style="width:45px;border-right:0px;" [(ngModel)]="selectedFilterValue"
                                        (change)="onFilterValueChange(selectedFilterValue)">
                                        <option value="7">7</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                </td>
                                <td>
                                    <img src="../../../../assets/imgs/separator.gif" alt="Separator">
                                </td>
                                <td>
                                    <a><img src="../../../../assets/imgs/checkout.jpg" class="cursropointer"
                                            (click)="scancheckoutSubmit()"></a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="header">
                <td>Checkout</td>
                <td>Item Id</td>
                <td>Item Type</td>
                <td>Status</td>
                <td>Add Time</td>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let m of itemChecklist; let i = index" >
                <td><input type="checkbox" (change)="itemCheckoutSend(m.isChecked?true:false, m)" [name]="'isChecked'+i"
                        [checked]="m.isChecked" [(ngModel)]="m.isChecked"></td>
                <td>{{m.itemUniqueId}}</td>
                <td>{{m.itemtype?m.itemtype.itemType:'--'}}</td>
                <td>{{m.itemstatus?m.itemstatus.description:'--'}}</td>
                <td>{{m.addItem | date: 'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <!-- <tr *ngIf="itemChecklist.length==0">
                <td [attr.rowspan]="5">No Data Found</td>
            </tr> -->

        </tbody>
        <tbody>
                <tr class="statusBar">
                        <td align="left" colspan="7"><span *ngIf="pagination_numbers.totalNumber>0">
                                Results  {{pagination_numbers.fromNumber + 1}} - {{pagination_numbers.toNumber}} of
                                {{pagination_numbers.totalNumber}}.
                              </span>
                              <span *ngIf="!pagination_numbers.totalNumber>0">
                                There were no results found.
                              </span></td>
                 
                </tr>
        </tbody>
    </table>
</div>