<div class="row">

        <!-- user barcodes start -->
        <div class="row">
                <div class="mleft40 mbtm20">

                        <div class="Tablewidth">
                                <table class="" *ngFor="let m of userbarcodes; let i = index" class="barcodeStyle">
                                        <tr>
                                                <td>
                                                        <fieldset class="scheduler-border">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username" [bc-height]="25" [bc-width]="m.barcodeWidthFactor" [bc-display-value]="false">
                                                                        </ngx-barcode>
                                                                </div>
                                                        </fieldset>
                                                </td>
                                        </tr>
                                        <!-- <tr> {{m.username.length | json}}
                                                <td>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '1'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '2'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width2"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '3'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width3"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '4'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width4"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '5'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width5"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '6'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width6"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '7'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width7"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '8'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width8"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '9'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width9"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length == '10'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width10"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border"  *ngIf="m.username.length > '10'">
                                                                <legend class="scheduler-border">{{m.userLastName}}, {{m.userFirstName}}</legend>
                                                                <div>
                                                                        <ngx-barcode [bc-value]="m.username.toUpperCase()" [bc-height]="25" [bc-width]="width1"
                                                                                [bc-display-value]="false">
                                                                        </ngx-barcode >
                                                                </div>
                                                        </fieldset>
                                                </td>
                                        </tr>                                         -->
                                </table>
                        </div>
                </div>
        </div>
        <!-- user barcode end -->



</div>