<div>
    <div class="fsize16 f-bold">Invite User</div>
<div class="hr12"></div>
<div class="row">
    
        <form>
               <div class="col-sm-12">
                <div class="col-sm-3">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                    <div class="colorRed" *ngIf="mailerror">
                                            Email Address is required.
                                    </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="colorRed" *ngIf="mailWrng" style="    width: 200px;">
                                    Please enter valid Email Address.
                                </div>
                            </td>
                        </tr>
                        <tr>                            
                            <td>E-Mail :</td>
                        </tr>
                        <tr>                            
                            <td>
                                <input type="email" style="height: 24px !important;"  autofocus [(ngModel)]="inviteUser" name="inviteUser" required>
                            </td>
                        </tr>
                    </table>
                </div>
               </div>
               <div class="m25">
                    <button class="submitBtn1 mright10"  (click)="inviteUserSubmit()">SEND INVITATION</button>
                    <button class="submitBtn" (click)="clear()">CLEAR</button>
                </div>  
        </form>
</div>
</div>



    