<div class="fsize16 f-bold">Item Inventory</div>
<div class="hr12"></div>
<div class="row">
  <form class="mtop20 mleft40 mbtm20">
    <div *ngIf="error" class="mtop20 mbtm20">
      <span class="colorRed">Please enter Item Number.</span>
    </div>
    <div *ngIf="error1" style="color: red;">sorry! The item doesnt exist</div>
    <div>Item Number :</div>
    <div>
      <input type="text" [(ngModel)]="itemInvetordata.itemUniqueId" name="itemUniqueId">
    </div>

    <div>
      <button class="submitBtn mright10" target="popup" (click)="getItemList()">HTML REPORT</button>
      <button class="submitBtn mright10" target="popup" (click)="getPdf()">PDF REPORT</button>
      <button class="submitBtn" (click)="clear()">CLEAR</button>
    </div>
  </form>
</div>
