<div class="row">
        <img src="../../assets/imgs/logo.png" class="logoStyle">
      </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pleft0">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pleft0">
            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/login">Login</a>
          </div>
          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 pleft0">
            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/superAdminLogin">Super Admin Login</a>
          </div>
        </div>
        <hr class="line">
        <!-- login open -->
        <div class="row" *ngIf="!forgotShow">
          <div class="col-sm-12">
              <div class="loginHeader">Super Admin :: Login</div>
          </div>
          <div class="mtop70 mleft40">
            <form>
                <table class="tablewidth">
                    <tr>
                      <td>
                          User Name:
                      </td>
                      <td>
                        <input  name="username" tabindex="1"  [(ngModel)]="loginForm.userName" type="text" class="inputStyle mbtm7">
                        <span class="colorRed">*</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          Password:
                      </td>
                      <td>
                        <input name="password"  tabindex="2" [(ngModel)]="loginForm.password" type="text" class="inputStyle mbtm7">
                        <span class="colorRed">*</span>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <button class="submitBtn mbtm7" tabindex="3" (click)="login()">Submit</button>                       
                      </td>
                    </tr>
                  </table>
            </form>
          </div>
        </div>
    <!-- login close -->    
        <div class="line2 mtop20"></div>
        <div class="footer">
                TapTrack - accessing documents just got easier
        </div>
        </div>
    
    