td, th {
    padding: 5px;
    text-align: center !important;
    text-transform: capitalize;
    /* border: 2px solid #000; */
}
th{
    font-weight: bold;
}
td{
    font-weight: bold;
}
h2 {
    font-size: 24px !important;
    font-weight: 800 !important;
}    
h5{
    font-weight: 800 !important;
}
.f-bold{
    font-weight: 800 !important;
}
.mtop45{
    margin-top: 45px !important;
}