

<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<div style="height: 600px;overflow: auto;">
        <div class="col-sm-12 mbtm20">
            <h2 class="text-center">Mail Room Report</h2>
        </div>
        <div *ngIf="Mailreportserror" style="color: red;">{{Mailreportserror}}</div>
        <!-- <div>
            <h5 class="f-bold">Number Of <br> Item Types : {{Mailreports.length}}</h5>
        </div> -->
        <div>
                <table style="width:21pc" border="0" >
                        <tr>
                            <th class="f-bold" style="text-align: left !important;width: 155px;">
                                    Number Of <br> Item Types :
                            </th>
                            <th class="f-bold" style="text-align: left !important;">
                                    {{Mailreports.length}}
                            </th>
                        </tr>
                        </table>
        </div>

        <div class="mtop45 mbtm20">
            <table style="width:21pc" border=2>
                <tr>
                    <th style="line-height: 3;text-align: center;" class="f-bold">itemType</th>
                    <th style="line-height: 3;text-align: center;" class="f-bold">Number of Items</th>
                </tr>
                <tr *ngFor = "let item of Mailreports">
                        <td style="line-height: 3;text-align: center;" >{{item.itemType}}</td>
                        <td style="line-height: 3;text-align: center;">{{item.itemsList}}</td>
                    </tr>
            </table>
        </div>
    </div>  
    