
<div class="fsize16 f-bold">Items Report</div>
<div class="hr12"></div>
<div class="row addlist m25">
        <div class="fsize16 f-bold">Item Type : {{this.data.itemType}}</div>
        <div class="fsize16 f-bold">Item Total : {{recordsCount}}</div>
        <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
                <thead>
                <tr class="toolbar">
                    <td colspan="5">
                    <table border="0" cellpadding="0" cellspacing="1">
                        <tbody>
                            <tr>
                                <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber > 0">
                                    <img src= "../../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                                  </td>
                                  <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber > 0">
                                      <img src= "../../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                                  </td>
                            <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First"></td>
                            <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif" alt="Prev"></td>
                            <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/nextPage.gif" title="Next Page" alt="Next"></a></td>
                            <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/lastPage.gif" title="Last Page" alt="Last"></a></td>
                            <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                              <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                              <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                                  <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                            <td><img src="../../../../assets/imgs/separator.gif" alt="Separator"></td>
                            <td>
                              
                        </td>
                        <td>
                            <select style="width:45px;border-right:0px;" (change)="filterForPageSize($event.target.value)">
                              <option selected value=7>7</option>
                              <option value=10>10</option>
                              <option value=15>15</option>
                            </select>
                          </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr class="header">
                    <td>Item Number</td>
                    <td>Add Time</td>
                    <td>Tracking Item</td>
                    <td>Item Holder</td>
                    <td>Days In Tracking</td>
                </tr>
                </thead>
                <tbody class="tbody">
                    
                  <tr *ngFor="let m of itemsreports.itemArrList">
                      <td>{{m.itemNumber}}</td>
                      <td>{{m.dateCreated |  date: 'yyyy-MM-dd HH:mm'}}</td>
                      <td>{{m.trackingItem}}</td>
                      <td>{{m.itemHolderDetails?m.itemHolderDetails.userFirstName:''}} &nbsp;&nbsp;{{m.itemHolderDetails?m.itemHolderDetails.userLastName:''}}({{m.itemHolderDetails?m.itemHolderDetails.userName:''}})</td>
                      <td><a style="text-decoration: underline !important;"  (click)="routeto(m.itemHolder)">{{m.daysinTracking}}</a></td>
                  </tr>
                
                </tbody>
                <tbody>
                        <tr class="statusBar">
                            <td align="left" colspan="11" > <span *ngIf="pagination_numbers.totalNumber>0">
                                Results {{pagination_numbers.fromNumber + 1}} - {{pagination_numbers.toNumber}} of
                                {{pagination_numbers.totalNumber}}.
                              </span><span *ngIf="!pagination_numbers.totalNumber>0">
                                There were no results found.
                    
                              </span></td>
                        </tr>
                </tbody>
                </table>
</div>


    