
<div class="fsize16 f-bold">Item tracking Audit Report</div>
<div class="hr12"></div>
<div class="row addlist m25">
        <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
                <thead>
                <tr class="toolbar">
                    <td colspan="5">
                    <table border="0" cellpadding="0" cellspacing="1">
                        <tbody>
                            <tr>
                            <td (click)="nextPage('first')"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First"></td>
                            <td (click)="nextPage('previous')"><img src="../../../../assets/imgs/prevPageDisabled.gif" alt="Prev"></td>
                            <td (click)="nextPage('next')"><a><img src="../../../../assets/imgs/nextPage.gif" title="Next Page" alt="Next"></a></td>
                            <td (click)="nextPage('last')"><a><img src="../../../../assets/imgs/lastPage.gif" title="Last Page" alt="Last"></a></td>
                            <td><img src="../../../../assets/imgs/separator.gif" alt="Separator"></td>
                            <td>
                              
                        </td>
                        <td>
                            <select style="width:45px;border-right:0px;" (change)="filterForPageSize($event.target.value)">
                              <option selected value=7>7</option>
                              <option value=10>10</option>
                              <option value=15>15</option>
                            </select>
                          </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                <tr class="header">
                    <td>Held By</td>
                    <td>Days Held</td>
                    <td>Status</td>
                    <td>Sent On</td>
                    <td>Accept On</td>
                    <td>Comment</td>

                </tr>
                </thead>
                <tbody class="tbody">
                  <tr *ngFor="let m of auditreport">
                      <td>{{m.recieverx.userFirstName}}{{m.recieverx.userLastName}}({{m.recieverx.username}})</td>
                      <td>0</td>
                      <td>{{m.status}}</td>
                      <td>{{m.transactionTime}}</td>
                      <td>{{m.transSucceedTime}}</td>
                      <td>{{m.transComment}}</td>
                  </tr>
                
                </tbody>
                <tbody>
                        <tr class="statusBar">
                            <td align="left" colspan="11" > <span *ngIf="pagination_numbers.totalNumber>0">
                                Results 0 - {{pagination_numbers.toNumber}} of
                                {{pagination_numbers.totalNumber}}.
                              </span><span *ngIf="!pagination_numbers.totalNumber>0">
                                There were no results found.
                    
                              </span></td>
                        </tr>
                </tbody>
                </table>
</div>


    