<div class="row">
        <img src="../../assets/imgs/logo.png" class="logoStyle">
      </div>
<div class="row">    
    <hr class="line">
 
<!-- forgot start -->
<div class="row">
    <div class="col-sm-12">
        <div class="loginHeader">Barcode Management</div>
    </div>
    <div class="mtop70 mleft40" >
      
        <div>
            <ul class="col-sm-12 listStyle" style="margin-left: 5px;">
                <li>
                        Use this page to print out barcodes for the Tap Track application
                </li><br><br>
                <li class="mbtm20">
                  <a  (click)="inventory(uniqueId)">Binder Inventory Reports</a>
              </li>
                <li class="mbtm20">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/printBarCodes">Print Barcodes</a>
                </li>
                <li class="mbtm20">
                  <a (click)="loaction(uniqueId)">Location Barcodes</a>
                </li>
                <li class="mbtm20">
                  <a (click)="user(uniqueId)" >User Barcodes</a>
                </li>
                <!-- <li class="mbtm20">
                        <a (click)="add(uniqueId)" >Add Profile</a>
                      </li> -->
                <li class="mbtm20"> 
                  <!-- <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  [routerLink]="['/tapTrackEasyScanning']">Tap Track Easy Scanning</a> -->
                  <a (click)="easyScanning(uniqueId)"> Tap Track Easy Scanning </a>
                </li>
                <li class="mbtm20">
                  <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/commandBarcodes">Command Barcodes</a>
                </li>
                <li class="mbtm20">
                    <a href="../../assets/DemoTaptrackVideos/TAPTRACKScannerScreenShots.docx"> Scanner Entry Applet Help</a>
                </li>
              </ul>
              










        </div>
    </div>
    <hr class="line1">
  </div>
<!-- forgot end -->


    
  </div>
