<div *ngIf="successfulSave">
    <div class="fsize16 f-bold">Info</div>
    <div class="hr12"></div>
    <div class="PageHd2 f-size16">
        Profile Added Successfully.
    </div>
</div>
<div class="fsize16 f-bold" *ngIf="successfulSave1">Add Profile</div>
<div class="hr12" *ngIf="successfulSave1"></div>
<div class="row mtop20" *ngIf="successfulSave1">
    <!-- <form > -->
    <div class="col-sm-12">
        <form (ngSubmit)="createProfile()">

            <div class="styeerr">
                <div *ngIf="usernameErr">Username Already exist .</div>
                <div *ngIf="profileErr">Profile not created .</div>
                <div *ngIf="usernameshw">User name is required.</div>
                <div *ngIf="locationFlagshw">Location is required.</div>
                <div *ngIf="passwordshw">Password is required.</div>
                <div *ngIf="confirmPasswordshw">Please Verify Password.</div>
                <div *ngIf="userFirstNameshw">First Name is required.</div>
                <div *ngIf="userLastNameshw">Last Name is required.</div>
                <div *ngIf="UserStreet1shw">Street name is required.</div>
                <div *ngIf="userCityshw">City name is required.</div>
                <div *ngIf="userZipshw">Zip code is required.</div>
                <div *ngIf="userMobileshw">Phone Number is required.</div>
                <div *ngIf="emailshw">Email is required.</div>
                <div *ngIf="stateIdshw"> State is required.</div>
                <div *ngIf="userTypeIdshw">User Type is required.</div>
                <div *ngIf="passwrdmatch">Password did not match: Please try again...</div>
                <div *ngIf="mailWrng"> Please enter valid Email Address.</div>
            </div>
            <table style="width: 100%">
                <tr class="Heading1">
                    <td colspan="3">
                        Account Information
                    </td>
                </tr>
                <tr>
                    <td class="width250">
                        <div>Username :</div>
                        <input name="username" [(ngModel)]="type.username" type="text" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                    <td class="width250">
                        <div>Password :</div>
                        <input name="password" [(ngModel)]="type.password" type="password" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="width250">
                    </td>
                    <td class="width250">
                        <div>Verify Password :</div>
                        <input name="confirmPassword" [(ngModel)]="type.confirmPassword" type="password" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                </tr>
                <tr class="Heading1">
                    <td colspan="3">
                        Personal Information
                    </td>
                </tr>
                <tr>
                    <td class="width250">
                        <div>Company Name :</div>
                        <input name="companyName" [(ngModel)]="type.companyName" type="text" class="mright10" readonly>
                        <span class="colorRed">*</span>
                    </td>
                    <td class="width250">
                        <div>User Type :</div>
                        <select class="mright10 width172" name="userTypeId" [(ngModel)]="type.userTypeId">
                            <option value="-1" selected>------Please Select-----</option>
                            <option *ngFor="let userT of getUserData; let i = index;" value="{{userT.userTypeId}}">{{userT.userType}}</option>
                            <!-- <option value="5">Data Entry</option>								
									<option value="1">Admin</option>								
									<option value="2">Common</option>								
									<option value="3">Record Center</option>								
									<option value="4">Out Of Dept.</option>     -->
                        </select>
                        <span class="colorRed">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="width250">
                        <div>First Name :</div>
                        <input name="userFirstName" [(ngModel)]="type.userFirstName" type="text" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                    <td class="width250">
                        <div>Last Name :</div>
                        <input name="userLastName" [(ngModel)]="type.userLastName" type="text" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>Location :</div>
                        <input name="location" [(ngModel)]="type.location" type="text" style="width: 85%;" class="mright10" [disabled]="isDisabled">
                        <span class="colorRed">*</span>
                    </td>
                    <td>
                        <input name="locationFlag" (change)="triggerSomeEvent()" [(ngModel)]="type.locationFlag" type="checkbox"
                            value="1"> Enable Location :</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                            Street :
                        </div>
                        <div>
                            <input name="UserStreet1" [(ngModel)]="type.UserStreet1" type="text" style="width: 85%;" class="mright10">
                            <span class="colorRed">*</span>
                            <br>
                            <input name="UserStreet2" [(ngModel)]="type.UserStreet2" type="text" style="width: 85%;">
                            <br>
                            <input name="UserStreet3" [(ngModel)]="type.UserStreet3" type="text" style="width: 85%;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="width250">
                        <div>City :</div>
                        <input name="userCity" [(ngModel)]="type.userCity" type="text" class="mright10">
                        <span class="colorRed">*</span>
                    </td>

                    <td>
                        <div>State :</div>
                        <select class="mright10 width172" name="stateId" [(ngModel)]="type.stateId">
                            <option value="-1" selected>------Please Select-----</option>
                            <option *ngFor="let state of getStateData; let i = index;" value="{{state.stateId}}">{{state.stateName}}</option>
                            <!-- <option value="5">AS</option>								
                                        <option value="1">AZ</option>								
                                        <option value="2">AR</option>								
                                        <option value="3">CA</option>								
                                        <option value="4">CO</option>     -->
                        </select>
                        <span class="colorRed">*</span>
                    </td>
                    <td class="width250">
                        <div>Zip :</div>
                        <input name="userZip" [(ngModel)]="type.userZip" (keyup)="isNumberKey(type.userZip)" minlength="5" maxlength="5"  type="text" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="width250">
                        <div>Email :</div>
                        <input type="gmail" name="email" [(ngModel)]="type.email" type="text" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                    <td class="width250">
                        <div>Phone :</div>
                        <input name="userMobile" [(ngModel)]="type.userMobile" maxlength="10" type="text" class="mright10">
                        <span class="colorRed">*</span>
                    </td>
                </tr>
                <tr>
                    <div class="mbtm20">
                        <button class="submitBtn mright10">REGISTER</button>
                        <button (click)="cancelProfile()" class="submitBtn">CANCEL</button>
                    </div>
                </tr>
            </table>
        </form>
    </div>
    <!-- </form> -->
</div>