/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
}
.timesNew{
    font-family: 'Times New Roman';
}
a{
    text-decoration: none !important;
    cursor: pointer;
}
.logoStyle{
    width: 700px;
    height: 91px;
}
.line{
    border: 0px none;
    border-bottom: 1px solid #c0c0c0;
    height: 1px;
}
.line1{
    width: 55.5pc;
    border: 0px none;
    border-bottom: 1px solid #c0c0c0;
    height: 1px;
}
.line2{
    width: 55.5pc;
    border: 0px none;
    border-bottom: 1px solid #c0c0c0;
    margin: auto;
}
.container {
    width: 890px;
}
.loginHeader{
    font-size: 16px;
    color: #363593;
    font-weight: bold;
    border-bottom: 2px solid #548dd4;
    padding-bottom: 2px;
    width: 100%;
}
.loginHeader1{
    color: rgb(0, 0, 255);
    border-bottom: 2px solid #548dd4;
    padding-bottom: 2px;
    width: 100%;

}
.pleft0{padding-left: 0px;}
.mtop70{margin-top: 70px;}
.mleft40{margin-left: 40px;}
.mbtm7{margin-bottom: 7px;}
.mbtm10{margin-bottom: 10px;}
.mbtm20{margin-bottom: 20px;}
.mtop20{margin-top: 20px;}
.mtop10{margin-top: 10px;}
.mright10{margin-right: 10px;}
.m25{margin: 30px;}
.colorRed { color: red;}
.color-000{color: #000;}
.colorGreen{color: #5cad0e;}
.f-bold{font-weight: bold;}
.f-size13{font-size: 13px !important;}
.f-size18{font-size: 18px !important;}
.f-size16{font-size:16px !important;}
.f-size24{font-size:24px !important;}
.f-left{float: left;}
.listyle{
    float: left;
    margin-right: 15px;
}
.listStyle{list-style: none;}
.footer {
    font-size: 11px;
    color: #969696;
    text-align: center;
}
.inputStyle{
    margin-right: 5px;
    border: 1px solid #d7d7d7;
    font-family: Arial;
    font-size: 12px;
    color: #000;
    padding: 1px;
    border-radius: 2px;
    width: 195px;
}
.tablewidth{
    width: 25pc;
}
.submitBtn {
    border: 0 none;
    outline: none;
    background: url(./assets/imgs/btn2.gif) left top no-repeat;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    width: 110px;
    padding: 0;
    cursor: pointer;
    line-height: 30px;
    margin-top: 15px;
}
.submitBtn:hover{
    color: #fff;
    text-shadow: -13px 6px 12px #000;
}
.submitBtn1 {
    border: 0 none;
    outline: none;
    background: url(./assets/imgs/btn4.gif) left top no-repeat;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    width: 185px;
    padding: 0;
    cursor: pointer;
    line-height: 30px;
    margin-top: 15px;
}
.submitBtn1:hover{
    color: #fff;
    text-shadow: -13px 6px 12px #000;
}
.submitBtnOther {
    border: 0 none;
    outline: none;
    background: url(./assets/imgs/button4.gif) left top no-repeat;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    width: 180px;
    padding: 0;
    cursor: pointer;
    line-height: 30px;
}
.submitBtnOther:hover{
    color: #fff;
    text-shadow: -13px 6px 12px #000;
}

fieldset.scheduler-border {
    border: 2px groove #ddd !important;
    padding: 0px !important;
    margin: 0px !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            font-family: 'Times New Roman'; 
            width: 19pc;   

}
fieldset.scheduler-border-location {
    border: 2px groove #ddd !important;
    padding: 0px !important;
    margin: 0px !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            font-family: 'Times New Roman'; 
            width: 19pc;   

}

legend.scheduler-border {
    font-size: 16px !important;
    /* font-weight: bold !important; */
    text-align: center !important;
    width:auto;
    padding:0 6px;
    border-bottom:none;
    text-transform: capitalize;
    font-family: 'Times New Roman';
    left: 0px;
    right: 0px;
    margin: auto;
}
legend.scheduler-border-location {
    font-size: 16px !important;
    /* font-weight: bold !important; */
    text-align: center !important;
    width:auto;
    padding:0 6px;
    border-bottom:none;
    /* text-transform: capitalize; */
    font-family: 'Times New Roman';
    left: 0px;
    right: 0px;
    margin: auto;
}
legend{
    margin-bottom: 0px;
}
.cellspacing{
    border-spacing: 10px;border-collapse: separate;
}    
.Tablewidth{
    width: 41pc;
    margin: auto;
    display: table;
    left: 0;
    right: 0;
    text-align: center;
}
.Tablewidth1{
    width: 15pc;
    margin: auto;
    display: table;
    left: 0;
    right: 0;
    text-align: center;
}
select{
    border: 1px solid #d7d7d7;
    font-family: Arial;
    font-size: 13px;
    color: #000;
    padding: 1px;
    border-radius: 2px;
    margin-right: 5px;
    width: 170px;
}
.barcodeStyle{
    float: left;
    display: table-cell;
    width: 20pc;
}
.width65{
    width: 65px;
  }
.p25{padding: 25px;}  
.hr12{
    font-size: 16px;
    color: #363593;
    font-weight: bold;
    border-bottom: 2px solid #548dd4;
    padding-bottom: 2px;
}
.fsize16{
    font-size: 16px;
    color: #363593;
}
.fsize14{
    font-size: 14px;
}
.f-size12{
    font-size: 12px;
} 
.colorblue{
    color: #363593;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}


/* drpwn */

 
.dropdown-menu > li.more > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

/* item style */
input{
    border: 1px solid #d7d7d7;
    font-family: Arial;
    font-size: 13px;
    color: #000;
    padding: 0px;
    margin-bottom: 4px;
}
.TagDiv1 {
    background: #c3c3c3 url(./assets/imgs/TagBg1.gif) top right no-repeat;
    color: #FFF;
    padding: 5px;
    width: 176px;
    margin: 0 auto;
}
.Tag1 {
    font-size: 20px;
    font-weight: bold;
}
.width135{width:135px}
.height25{
    height: 25px;
}
/* table style */
.width100{
    width:100px;
}
.width100percent{
    width:100%;
}
.addlist table{
    border: 1px solid silver;
    padding: 2px;
    border-bottom: 0px;
}
.header td {
    white-space: nowrap;
    background-color: #729fcf;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 3px 4px 3px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: white;
}
.addlist .toolbar td {
    padding: 0px 1px 0px 1px;
}
.addlist>table>tbody.tbody>tr>td{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 2px 3px 2px 3px;
}
.addlist>table>tbody>tr:hover{
    background: #fdecae;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #e3e3e3;
}
.addlist .statusBar td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border-top: 1px solid silver;
    background-color: #efebe7;
    padding: 2px;
}
.addlist a{color :#000;}
.addlist .filter {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    border: 1px solid #c0c0c0;
    background-color: #efebe7;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}
/* table style end */
.cursropointer{
    cursor: pointer;
}
.fleft{float: left;}
.fright{float: right;}
 /* mouse tooptip */
 #bubble_tooltip{
	width:147px;
	position:absolute;
	display:none;
}
#bubble_tooltip .bubble_top{
	background-image: url('./assets/imgs/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;	
}
#bubble_tooltip .bubble_middle{
	background-image: url('./assets/imgs/bubble_middle.gif');
	background-repeat:repeat-y;	
	background-position:bottom left;
	padding-left:7px;
	padding-right:7px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	top:-8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:11px;
}
#bubble_tooltip .bubble_bottom{
	background-image: url('./assets/imgs/bubble_bottom.gif');
	background-repeat:no-repeat;
	background-repeat:no-repeat;	
	height:44px;
	position:relative;
	top:-6px;
}
/* end mouse over */
.dropdown-menu {
    font-size: 13px !important;
}
.PageHd2 {
    font-size: 13px;
    color: #363593;
    font-weight: bold;
    margin: auto;
    display: table;
    padding: 20px;
}
#printId .barcode svg text{
    font-weight: bold !important;
}
::ng-deep .completer-row {
    display: inherit;
    background:#fff;
    color: #000;
    margin: 0px;
    border: 1px solid #000 !important;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
    white-space: initial;

} 


.completer-selected-row {
    background-color: rgb(26, 26, 112) !important;
    color: #fff !important;
    text-transform: capitalize;
    margin: 0px !important;
    padding: 0px;
    border: 1px solid #000 !important;
}

.completer-row p {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    border:2pc solid red !important;
}
input[type=search]{
    width: 180px !important;
    height: 22px !important;
}
.completer-dropdown-holder:nth-child(odd){
    position: absolute;
    padding: 0px !important;
    text-transform: capitalize;
    margin: 0px !important;
    padding: 0px;
    font-weight: bold;
    background-color: #ccc !important;
}
.completer-dropdown-holder div{
    width: 176px !important;
    /* border:1px solid brown !important; */
    padding: 0px !important;
}
.completer-dropdown-holder div div div{    
    word-break: break-all !important;
    margin: 0px !important;
}
.customid {
background:#fff;
color: #000;
padding: 0px;
margin: 0px;
text-transform: capitalize;
}
		

.clsBreak{
    word-wrap:break-word !important;
     table-layout: fixed !important;
}
td p {word-break:break-all !important;}


.mydp .icon-mydpcalendar, .mydp .icon-mydpremove {
    font-size: 16px !important;
}
.mydp, .mydp .headertodaybtn, .mydp .selection, .mydp .selectiongroup, .mydp .selector {
    border-radius: 0px !important;
}
.mydp, .mydp .headertodaybtn{
    width: 170px !important;
}
.mydp .selection, .mydp .headerbtncell, .mydp .selbtngroup{
    height:20px !important;
}
.mydp .icon-mydpcalendar:before {
    content: "\e803";
    margin-left: 5px !important;
}
.mydp .btnpicker{
    width: 2px !important;
}