
<!-- <embed src="../../../assets/DemoTaptrackVideos/addItemTypes.swf" width="100%" height="550" 
flashvars="id=hello world" wmode="transparent" /> -->

<!-- <video width="320" height="240" muted controls loop autoplay width="100%" height="550">
    <source src="../../../assets/DemoTaptrackVideos/addItemTypes1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->

  <embed src="../../../assets/DemoTaptrackVideos/addItemTypes.swf" width="100%" height="550" 
flashvars="id=hello world" wmode="transparent" />