<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<div style="overflow-y: auto;height: 590px;">
    <div class="col-sm-12 mbtm20">
        <h2 class="text-center">Search Report</h2>
    </div>
    <div *ngIf="reportsArryerror" style="color: red;">{{reportsArryerror}}</div>
    <div>
<table style="width:80%"  *ngIf="!reportsArryerror">
    <tr>
        <td>
                <h5 class="f-bold">Number of Items =  {{reportsArry.noOfItems}}</h5>
        </td>
    </tr>
   
</table>
    </div>
    <div class="mtop70 mbtm20" *ngIf="!reportsArryerror">
        <table style="width:80%;text-align: center;" border=1>
            <tr>
                <th style="line-height: 3;text-align: center;">Item Number</th>
                <th style="line-height: 3;text-align: center;">Item Type</th>
                <th style="line-height: 3;text-align: center;">Tracking</th>
                <th style="line-height: 3;text-align: center;">Last heldBy</th>
                <th style="line-height: 3;text-align: center;">Days Held</th>
            </tr>
            <tr *ngFor = "let item of reportsArry.searchList">
                    <td style="line-height: 3;text-align: center;">{{item.itemNumber}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.itemType}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.trackingItem}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.itemHolder}}</td>
                    <td style="line-height: 3;text-align: center;">{{item.daysinTracking}}</td>

                </tr>
        </table>
    </div>
</div>  