<div class="fsize16 f-bold">My Dashboard</div>
<div class="hr12"></div>
<div class="fsize14 colorblue"><br>
  <div class="row addlist m25">
    <div class="f-size13"> Items Received.</div>
    <div *ngIf="itemList1error" style="color: red;">{{itemList1error}}</div>
    <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
      <thead>
        <tr class="toolbar">
          <td colspan="7">
            <table border="0" cellpadding="0" cellspacing="1">
              <tbody>
                <tr>
                    <td (click)="nextPage1('first')" *ngIf="pagination_numbers1.fromNumber > 0">
                        <img src= "../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                      </td>
                      <td (click)="nextPage1('previous')" *ngIf="pagination_numbers1.fromNumber > 0">
                          <img src= "../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                      </td>
                  <td (click)="nextPage1('first')" *ngIf="pagination_numbers1.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First">
                  </td>
                  <td (click)="nextPage1('previous')" *ngIf="pagination_numbers1.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif"
                      alt="Prev">
                  </td>
                  <td (click)="nextPage1('next')" *ngIf="pagination_numbers1.toNumber != pagination_numbers1.totalNumber && pagination_numbers1.totalNumber > 0"><a ><img src="../../../assets/imgs/nextPage.gif" title="Next Page"
                        alt="Next"></a></td>
                  <td (click)="nextPage1('last')" *ngIf="pagination_numbers1.toNumber != pagination_numbers1.totalNumber && pagination_numbers1.totalNumber > 0"><a><img src="../../../assets/imgs/lastPage.gif" title="Last Page"
                        alt="Last"></a></td>
                        <td (click)="nextPage('last')" *ngIf="pagination_numbers1.toNumber == pagination_numbers1.totalNumber  || pagination_numbers1.totalNumber == 0 ">
                            <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                            <td (click)="nextPage('next')" *ngIf="pagination_numbers1.toNumber == pagination_numbers1.totalNumber  || pagination_numbers1.totalNumber == 0">
                                <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                  <td><img src="../../../assets/imgs/separator.gif" alt="Separator"></td>
                  <td>
                    <select style="width:45px;border-right:0px;" (change)="filterForPageSize1($event.target.value)">
                      <option selected value=7>7</option>
                      <option value=10>10</option>
                      <option value=15>15</option>
                    </select>
                  </td>
                  <td>
                    <img src="../../../assets/imgs/separator.gif" alt="Separator">
                  </td>
                  <td>
                    <a (click)="acknowledgeRecieveItem()"><img src="../../../assets/imgs/acknowledge.jpg" class="cursropointer"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr class="bordertop0">
          <td></td>
          <td style="padding: 0px;">
            <input class="filter" type="text" name="ItemNumber" [(ngModel)]="ItemNumber" (input)="onSearchChange($event.target.value)">
          </td>
          <td colspan="5"></td>
        </tr>
        <tr class="header">
          <td>Items Received</td>
          <td>Item Number</td>
          <td>Sender</td>
          <td>Status</td>
          <td>Received Date</td>
          <td>Comment</td>
          <td>Id</td>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let m of itemList1; let i = index">
          <td><input type="checkbox" value=" {{m.transactionId}}" id="itemRecieved" (change)="onSelectBoxChange1(m,$event)"/></td>
          <td>{{m.itemUniqueId}}</td>
          <td>{{m.senderName}}</td>
          <td>{{m.itemStatusName}}</td>
          <td>{{m.transactionTime | date: 'yyyy-MM-dd HH:mm'}}</td>
          <td>{{m.transComment}}</td>
          <td>{{m.itemId}}</td>
        </tr>
      </tbody>
      <tbody>
        <tr class="statusBar">
          <!-- <td align="left" colspan="7">There were no results found.</td> -->
          <td align="left" colspan="7">
            <span *ngIf="pagination_numbers1.totalNumber>0">
              Results {{pagination_numbers1.fromNumber + 1}} - {{pagination_numbers1.toNumber}} of
              {{pagination_numbers1.totalNumber}}.
            </span>
            <span *ngIf="!pagination_numbers1.totalNumber>0">
              There were no results found.
            </span>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row addlist m25" style="margin-top: 40px;">      
    <div>
      <div class="f-size13 fleft">Documents Own.</div><br>
    <div *ngIf="itemList2error" style="color: red;">{{itemList2error}}</div>

      <div id="bubble_tooltip" style="display: none; left: 530px; top: 198px;">
          <div class="bubble_top">
                <span></span>
          </div>
          <div class="bubble_middle">
                <span id="bubble_tooltip_content">Please enter mask for item type</span>
          </div>
          <div class="bubble_bottom"></div>
    </div>
      <div class="fright">Send to: <ng2-completer  onmouseover="showToolTip(event,'start typing a name...');return false" onmouseout="hideToolTip()" name="reciever" [(ngModel)]="item.reciever" [datasource]="userArr" id="sendTo"
          [minSearchLength]="0" [matchClass]="matchClass" [autofocus]="true" auto-match="true"></ng2-completer>
      </div>
    </div>
    <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
      <thead>
        <tr class="toolbar">
          <td colspan="6">
            <table border="0" cellpadding="0" cellspacing="1">
              <tbody>
                <tr>
                    <td (click)="nextPage2('first')" *ngIf="pagination_numbers2.fromNumber > 0">
                        <img src= "../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                      </td>
                      <td (click)="nextPage2('previous')" *ngIf="pagination_numbers2.fromNumber > 0">
                          <img src= "../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                      </td>
                  <td (click)="nextPage2('first')" *ngIf="pagination_numbers2.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First">
                  </td>
                  <td (click)="nextPage2('previous')"  *ngIf="pagination_numbers2.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif"
                      alt="Prev">
                  </td>
                  <td (click)="nextPage2('next')" *ngIf="pagination_numbers2.toNumber != pagination_numbers2.totalNumber  && pagination_numbers2.totalNumber > 0"><a><img src="../../../assets/imgs/nextPage.gif" title="Next Page"
                        alt="Next"></a></td>
                  <td (click)="nextPage2('last')" *ngIf="pagination_numbers2.toNumber != pagination_numbers2.totalNumber  && pagination_numbers2.totalNumber > 0"><a><img src="../../../assets/imgs/lastPage.gif" title="Last Page"
                        alt="Last"></a></td>
                        <td (click)="nextPage('last')" *ngIf="pagination_numbers2.toNumber == pagination_numbers2.totalNumber || pagination_numbers2.totalNumber == 0">
                            <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                            <td (click)="nextPage('next')" *ngIf="pagination_numbers2.toNumber == pagination_numbers2.totalNumber || pagination_numbers2.totalNumber == 0">
                                <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                  <td><img src="../../../assets/imgs/separator.gif" alt="Separator"></td>
                  <td>
                    <select style="width:45px;border-right:0px;"  (change)="filterForPageSize2($event.target.value)">
                      <option selected value=7>7</option>
                      <option value=10>10</option>
                      <option value=15>15</option>
                    </select>
                  </td>
                  <td>
                    <img src="../../../assets/imgs/separator.gif" alt="Separator">
                  </td>
                  <td (click)="SentItems()">
                    <a><img src="../../../assets/imgs/sentItem.jpg" class="cursropointer"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr class="bordertop0">
          <td></td>
          <td style="padding: 0px;">
            <input class="filter" type="text" name="ItemNumberId" [(ngModel)]="ItemNumberId" (input)="onSearchChange2($event.target.value)">
          </td>
          <td colspan="4"></td>
        </tr>
        <tr class="header">
          <td>Send Item</td>
          <td>Item Number</td>
          <td>Sender</td>
          <td>Status</td>
          <td>Comment</td>
          <td>Id</td>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let m of itemList2; let i = index">
          <td><input type="checkbox" (click)="Pushdata(m)" id="documentOwn" [disabled]="!item.reciever" /></td>
          <td>{{m.itemUniqueId}}</td>
          <td>{{m.currentOwnerx.userName}}</td>
          <td>{{m.itemstatus.description}}</td>
          <td><input type="text" id="comment"  [(ngModel)]="m.comments"></td>
          <td>{{m.itemId}}</td>
        </tr>

      </tbody>
      <tbody>
        <tr class="statusBar">
          <!-- <td align="left" colspan="6">Results 1 - 7 of 33.</td> -->
          <td align="left" colspan="6"> <span *ngIf="pagination_numbers2.totalNumber>0">
              Results {{pagination_numbers2.fromNumber + 1}} - {{pagination_numbers2.toNumber}} of
              {{pagination_numbers2.totalNumber}}.
            </span>
            <span *ngIf="!pagination_numbers2.totalNumber>0">
              There were no results found.
            </span></td>

        </tr> 
      </tbody>
    </table>
  </div>

  <div class="row addlist m25" style="margin-top: 40px;">
    <div>
      <div class="f-size13">Items Sent.</div>
    </div>
    <div *ngIf="itemList3error" style="color: red;">{{itemList3error}}</div>

    <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
      <thead>
        <tr class="toolbar">
          <td colspan="7">
            <table border="0" cellpadding="0" cellspacing="1">
              <tbody>
                <tr>
                    <td (click)="nextPage3('first')" *ngIf="pagination_numbers3.fromNumber > 0">
                        <img src= "../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                      </td>
                      <td (click)="nextPage3('previous')" *ngIf="pagination_numbers3.fromNumber > 0">
                          <img src= "../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                      </td>
                  <td (click)="nextPage3('first')" *ngIf="pagination_numbers3.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First">
                  </td>
                  <td (click)="nextPage3('previous')" *ngIf="pagination_numbers3.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif"
                      alt="Prev">
                  </td>
                  <td (click)="nextPage3('next')" *ngIf="pagination_numbers3.toNumber != pagination_numbers3.totalNumber && pagination_numbers3.totalNumber > 0"><a><img src="../../../assets/imgs/nextPage.gif" title="Next Page"
                        alt="Next"></a></td>
                  <td (click)="nextPage3('last')" *ngIf="pagination_numbers3.toNumber != pagination_numbers3.totalNumber && pagination_numbers3.totalNumber > 0"><a><img src="../../../assets/imgs/lastPage.gif" title="Last Page"
                        alt="Last"></a></td>
                        <td (click)="nextPage('last')" *ngIf="pagination_numbers3.toNumber == pagination_numbers3.totalNumber || pagination_numbers3.totalNumber == 0">
                            <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                            <td (click)="nextPage('next')" *ngIf="pagination_numbers3.toNumber == pagination_numbers3.totalNumber ||pagination_numbers3.totalNumber == 0">
                                <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                  <td><img src="../../../assets/imgs/separator.gif" alt="Separator"></td>
                  <td>
                    <select style="width:45px;border-right:0px;" (change)="filterForPageSize3($event.target.value)">
                      <option selected value=7>7</option>
                      <option value=10>10</option>
                      <option value=15>15</option>
                    </select>
                  </td>
                  <td>
                    <img src="../../../assets/imgs/separator.gif" alt="Separator">
                  </td>
                  <td>
                    <a (click)="cancelSentItems()"><img src="../../../assets/imgs/submit.jpg" class="cursropointer"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr class="bordertop0">
          <td></td>
          <td style="padding: 0px;">
            <input class="filter" type="text" name="ItemNumbersentId"  [(ngModel)]="ItemNumbersentId" (input)="onSearchChange3($event.target.value)">
          </td>
          <td colspan="5"></td>
        </tr>
        <tr class="header">
          <td>Cancel</td>
          <td>Item Number</td>
          <td>Receiver</td>
          <td>Status</td>
          <td>Comment</td>
          <td>send Date</td>
          <td>Id</td>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let m of itemList3; let i = index">
          <td><input type="checkbox" value=" {{m.transactionId}}" id="itemSent" [disabled]="m.itemStatusName == 'Success'" (change)="onSelectBoxChange(m,$event)"/></td>
          <td>{{m.itemUniqueId}}</td>
          <td>{{m.receiverName}}</td>
          <td>{{m.itemStatusName}}</td>
          <td>{{m.transComment}}</td>
          <td>{{m.transSucceedTime | date: 'yyyy-MM-dd HH:mm'}}</td>
          <td>{{m.itemId}}</td>
        </tr>

      </tbody>
      <tbody>
        <tr class="statusBar">
          <!-- <td align="left" colspan="7">Results 1 - 1 of 1.</td> -->
          <td align="left" colspan="7"><span *ngIf="pagination_numbers3.totalNumber>0">
              Results  {{pagination_numbers3.fromNumber + 1}} - {{pagination_numbers3.toNumber}} of
              {{pagination_numbers3.totalNumber}}.
            </span>
            <span *ngIf="!pagination_numbers3.totalNumber>0">
              There were no results found.
            </span></td>

        </tr>
      </tbody>
    </table>
  </div>
