
<div class="row">
        <img src="../../assets/imgs/logo.png" class="logoStyle">
</div>
<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
  <div class="container-fluid" style="padding-left:0px;">
      <!-- <div class="navbar-header"><a class="navbar-brand" href="#">Brand</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
      </div> -->
      <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-left">
              <li><a routerLink="/home">Home</a>
              </li>
              <li><a routerLink="/myDashboard">My Dashboard</a>
              </li>
              <li class="dropdown show111"><a class="dropbtn">Item <b class="caret"></b></a>
                <div class="dropdown-content">
                  <a routerLink="/addItemType" *ngIf="usersData.userTypeId == 1">Add Item Type</a>
                  <a routerLink="/addItem">Add Item</a>
                  <a routerLink="/addPackageItem">Add Package Item</a>
                  <a routerLink="/itemList">Item List</a>
                  <a routerLink="/itemCheckoutScanner">Item Checkout Scanner</a>
                  <a routerLink="/itemCloseScanner" *ngIf="usersData.userTypeId == 1">Item Close Scanner</a>
                  <a routerLink="/itemCheckout">Item Checkout</a>
                  <a routerLink="/itemClose" *ngIf="usersData.userTypeId == 1">Item Close</a>
                  <a routerLink="/changeItemStatus" *ngIf="usersData.userTypeId == 1">Change Item Status</a>
                  <a routerLink="/barcodePrinter">Print Barcode</a>
                  <a routerLink="/assignToUser">Assign To User </a>
                </div>
              </li>
              <li class="dropdown show111"><a class="dropbtn">User <b class="caret"></b></a>
                <div class="dropdown-content">
                  <a routerLink="/addUser" *ngIf="usersData.userTypeId == 1">Add Profile</a>
                  <a routerLink="/editUser">Edit Profile</a>
                  <a (click)="userbarcode(companyData.uniqueId)">User Barcodes</a>
                  <!-- <a routerLink="/addProfile">AddUrl User</a> -->

                </div>
              </li>

              <li class="dropdown">
                  <a >Reports <b class="caret"></b></a>                   
                    <ul class="dropdown-menu">
                        <li><a routerLink="/itemTypeReport">Item Type Report</a></li>
                        <li><a routerLink="/mailRoomReport" *ngIf="usersData.userTypeId == 1">Mail Room Report</a></li>
                        <li><a routerLink="/bindersProcessedReport" *ngIf="usersData.userTypeId == 1">Binders Processed Report</a></li>
                        <li class="dropdown dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Printables</a>
                      <ul class="dropdown-menu">
                        <li><a routerLink="/itemInventoryReport">Item Inventory</a></li>
                        <li><a routerLink="/userActivityReport">User Activity Report</a></li>
                        <li><a routerLink="/userTrackingReport">User Tracking Report</a></li>
                        <li><a routerLink="/itemsReport">Items Report</a></li>
                        <li><a routerLink="/itemClosedFilterReport">Item Closed Filter Report</a></li>
                        <li><a routerLink="/itemSearchReport">Item Search Report</a></li>
                        <li><a routerLink='/timeHeldReport'>Time Held Report</a></li>
                        <li><a routerLink="/itemsSentByUserReport" *ngIf="usersData.userTypeId == 1">Items Sent By User Report</a></li>                                                                  
                  </ul>
                      </li>                                      
                  </ul>
            </li>
              <li class="dropdown show111" *ngIf="usersData.userTypeId == 1"><a class="dropbtn">Supervisor <b class="caret"></b></a>
                <div class="dropdown-content">
                  <a routerLink="/pendingUsers">Pending Users</a>
                  <a routerLink="/supervisorGrid" >Supervisor Grid</a>
                  <a routerLink="/inviteUser" >Invite User</a>
                  <a routerLink="/messages">Messages</a>
                </div>
              </li>


              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>                   
                    <ul class="dropdown-menu">
                        <li><a (click)="glossary()">Glossary</a></li>
                        <li><a target="popup" href="/assets/images/blabla.png" href="../../assets/DemoTaptrackVideos/User_Manual_TapTrack.doc">User Manual</a></li>
                        <li class="dropdown dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorials</a>
                      <ul class="dropdown-menu">
                        <li><a (click)="addItem()" target="popup">Add Item </a></li>
                        <li><a (click)="addItemType()" target="popup">Add Item Types</a></li>
                        <li><a (click)="changeItemstatus()" target="popup">Change Item Status</a></li>
                        <li><a (click)="checkoutScanner()" target="popup">Checkout Scanner</a></li>
                        <li><a (click)="message()" target="popup">Messages</a></li>
                        <li><a (click)="pendingUser()" target="popup">Pending Users</a></li>
                        <li><a (click)="printbarcode()" target="popup">Print Barcode</a></li>
                        <li><a (click)="registercompany()" target="popup">Register Company</a></li> 
                        <li><a (click)="supervisorGrid()" target="popup">Supervisor Grid</a></li>                                                                  
                  </ul>
                      </li>                                      
                  </ul>
            </li>
            <li><a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
              <!-- <li><a routerLink="/login">Logout</a> </li>                 -->
          </ul>
      </div>
  </div>
<div class="row">
  <div class="p25">
    <table class="tablestyle">
      <tr>
        <td class="width65">Welcome</td>
        <td>:</td>
        <td> {{usersData.userName}}</td>
        <td class="width65">Company</td>
        <td>:</td>
        <td>{{companyData.companyName}}, ({{companyData.uniqueId}})</td>
      </tr>
    </table>
  </div>
</div>

</div>
<br><br><br><br>
<div>
    <router-outlet></router-outlet>   
</div>
<div class="line2"></div>
    <div class="footer">
        TapTrack - accessing documents just got easier
    </div>

    