#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-image: url(../../assets/imgs/button1a.gif);
    /* border-width: 1px; */
    /* border-radius: 4px; */
    padding: 0px;
    margin: 0;
    list-style: none;
    height: 40px;
    position: relative;
    font-family: arial, verdana, sans-serif;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: rgba(248, 248, 248, 0);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-image: url("../../assets/imgs/button4.gif");
    border-right: 1px solid #0d57b0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 6px;
}
.navbar{
    min-height: 40px;
}

  .dropdown {
    position: relative;
    display: inline-block;
    width:112px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ccc;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px 10px;
    text-decoration: none;
    display: block;
    font-size: 13px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;}    */
  .tablestyle{
    width: 100%;
    color: #999;
    font-weight: bold;
    font-family: cursive;
  }
  .width65{
    width: 65px;
  }
.p25{padding: 25px;}  
.hr12{
    font-size: 16px;
    color: #363593;
    font-weight: bold;
    border-bottom: 2px solid #548dd4;
    padding-bottom: 2px;
}
.fsize16{
    font-size: 16px;
    color: #363593;
}
.fsize14{
    font-size: 14px;
} 
.colorblue{
    color: #363593;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}


/* drpwn */

 
.dropdown-menu > li.more > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
   z-index: 99999;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
      font-size: 13px !important;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  
