<div style="overflow-y: auto;height: 590px;">
    <div class="col-sm-12 mbtm20">
        <h2 class="text-center f-bold">Item Closed Filter Report</h2>
    </div>
    <div *ngIf="reportsArryerror" style="color: red;">{{reportsArryerror}}</div>
    <div>
        <table style="width:100%">
            <tr>
                <td>
                    <h5 class="f-bold">Total Closed</h5>
                </td>
                <td>
                    <h5 class="f-bold">:</h5>
                </td>
                <td>
                    <h5 class="f-bold">{{reportsArry.closeList.length}}</h5>
                </td>
                <td style="text-align: center">
                    <h5 class="f-bold" >Days in Tracking Avg </h5>
                </td>
                <td>
                    <h5 class="f-bold">:</h5>
                </td>
                <td>
                    <h5 class="f-bold">{{avgDaysTracking}}</h5>
                </td>
            </tr>

        </table>
    </div>
    <div class="mtop70 mbtm20">
        <table style="width:100%" border=1>
            <tr>
                <th style="line-height: 3;text-align: center;">Item Number</th>
                <th style="line-height: 3;text-align: center;">Item Type</th>
                <th style="line-height: 3;text-align: center;">Date Closed</th>
                <th style="line-height: 3;text-align: center;">Last HeldBy</th>
                <th style="line-height: 3;text-align: center;">Days in Tracking</th>
            </tr>
            <tr *ngFor="let item of reportsArry.closeList">
                <td style="line-height: 3;text-align: center;">{{item.itemNumber}}</td>
                <td style="line-height: 3;text-align: center;">{{item.ItemType}}</td>
                <td style="line-height: 3;text-align: center;">{{item.dateClosed | date:'yyyy-MM-dd hh:mm:s.SSS'}}</td>
                <td style="line-height: 3;text-align: center;">{{item.lastHeldBy}}</td>
                <td style="line-height: 3;text-align: center;">{{item.daysinTracking}}</td>
            </tr>
        </table>
    </div>
</div>