
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-pulse-sync"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
<div>
    <div class="col-sm-12 mbtm20">
        <h2 class="text-center">Item Inventory</h2>
    </div>
    <div>
        <h5 class="f-bold">Item Count = &nbsp;&nbsp;&nbsp;&nbsp; dfdf</h5>
    </div>
    <div class="mtop70 mbtm20">
        <table style="width:80%" border=1>
            <tr>
                <th>itemType</th>
                <th>Sedfsdfdsfnder</th>
            </tr>
            <tr *ngFor = "let item of Mailreports">
                    <td>{{item.itemType}}</td>
                    <td>{{item.itemId}}</td>
                </tr>
        </table>
    </div>
</div>  
