<div class="fsize16 f-bold">Item List</div>
<div class="hr12"></div>
<div class="row">
  <form>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <table style="width: 100%">
          <tr>
            <td>
              <div><b>Filter Values</b> <br> Item Id:</div>
              <select class="height25 width100" name="selectUniqueIdType" [(ngModel)]="searchQuery.itemUniqueId.type">
                <option selected value="startsWith">Starts With </option>
                <option value="exactly">Exactly </option>
                <option value="endsWith">ends With</option>
                <option value="anyWhere">AnyWhere</option>
              </select>
              <input type="text" name="itemUniqueId" style="height: 22px;" [(ngModel)]="searchQuery.itemUniqueId.value">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <table style="width: 100%">
          <tr>
            <td>
              <div class="mtop20">Name :</div>
              <select class="height25 width100" name="selectTagName" [(ngModel)]="searchQuery.tagName.type">
                <option selected value="startsWith">Starts With </option>
                <option value="exactly">Exactly </option>
                <option value="endsWith">ends With</option>
                <option value="anyWhere">AnyWhere</option>
              </select>
              <input type="text" name="tagName" style="height: 22px;" [(ngModel)]="searchQuery.tagName.value">
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <table style="width: 100%">
          <tr>
            <td>
              <div class="mtop20">Description :</div>
              <select class="height25 width100" name="selectTagDesc" [(ngModel)]="searchQuery.tagDesc.type">
                <option selected value="startsWith">Starts With </option>
                <option value="exactly">Exactly </option>
                <option value="endsWith">ends With</option>
                <option value="anyWhere">AnyWhere</option>
              </select>
              <input type="text" name="tagDesc" style="height: 22px;" [(ngModel)]="searchQuery.tagDesc.value">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="m25">
      <button class="submitBtn mright10" (click)="searchData()">SEARCH</button>
      <button class="submitBtn mright10" (click)="clear()">CLEAR</button>
    </div>
  </form>
</div>
<div class="row addlist " style="margin-left: 15px;">
  <div *ngIf="itemObjerror" style="color: red;">{{itemObjerror}}</div>

  <table id="worksheet" border="0" cellpadding="0" cellspacing="0" class="table table-striped" width="770px">
    <thead>
      <tr class="toolbar">
        <td colspan="6">
          <table border="0" cellpadding="0" cellspacing="1">
            <tbody>
              <tr>
                  <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber > 0">
                      <img src= "../../../../assets/imgs/leftarrow2.gif" style="width:16px;cursor: pointer">
                    </td>
                    <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber > 0">
                        <img src= "../../../../assets/imgs/leftarrow1.gif" style="width:16px;cursor: pointer">
                    </td>
                <td (click)="nextPage('first')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/firstPageDisabled.gif" alt="First">
                </td>
                <td (click)="nextPage('previous')" *ngIf="pagination_numbers.fromNumber <= 0"><img src="../../../../assets/imgs/prevPageDisabled.gif" alt="Prev">
                </td>
                <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/nextPage.gif" title="Next Page"
                      alt="Next"></a></td>
                <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber != pagination_numbers.totalNumber"><a><img src="../../../../assets/imgs/lastPage.gif" title="Last Page"
                      alt="Last"></a></td>
                      <td (click)="nextPage('last')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                          <a><img src="../../../../assets/imgs/rightarrow2.gif" title="Last Page" alt="Last"></a></td>
                          <td (click)="nextPage('next')" *ngIf="pagination_numbers.toNumber == pagination_numbers.totalNumber">
                              <a><img src="../../../../assets/imgs/rightarrow1.gif" title="Next Page" alt="Next"></a></td>
                <td><img src="../../../../assets/imgs/separator.gif" alt="Separator"></td>
                <td>
                  <select style="width:45px;border-right:0px;" (change)="filterForPageSize($event.target.value)">
                    <option selected value=7>7</option>
                    <option value=10>10</option>
                    <option value=15>15</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr class="header">
        <td>Item Id</td>
        <td>Tag Name</td>
        <td>Tag Description</td>
        <td>Item Type</td>
        <td>Edit</td>
        <td>Barcode</td>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let m of itemList; let i = index">
        <td>{{m.itemUniqueId}}</td>
        <td>{{m.tag.tagName}}</td>
        <td>{{m.tag.tagDesc}}</td>
        <td>{{m.itemtype?m.itemtype.itemType:''}}</td>
        <td><a (click)="route(m)">Edit</a></td>
        <td><a (click)="viewBarcode(m)">View</a></td>
      </tr>
    </tbody>
    <tbody>
        <tr class="statusBar">
        <td align="left" colspan="7"><span *ngIf="pagination_numbers.totalNumber>0">
            Results  {{pagination_numbers.fromNumber + 1}} - {{pagination_numbers.toNumber}} of
            {{pagination_numbers.totalNumber}}.
          </span>
          <span *ngIf="!pagination_numbers.totalNumber>0">
            There were no results found.
          </span></td>

      </tr>
      <!-- <tr class="statusBar">
        <td align="left" colspan="6">Results {{pagination_numbers.fromNumber+1}} - {{pagination_numbers.toNumber}} of
          {{itemObj.itemListCount}}.</td>
      </tr> -->
    </tbody>
  </table>
</div>