<div class="fsize16 f-bold">Item Close Scanner</div>
<div class="hr12"></div>
<div class="row mtop20">
  <form (ngSubmit)="itemCloseScanner()">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <table style="width: 100%">
          <tr *ngIf="errorMsg">
            <td class="colorRed mbtm20">Sorry! The Item does not exist !!</td>
          </tr>
          <tr>
            <td>ID :</td>
          </tr>
          <tr>
            <td>
              <input type="text" required autofocus [(ngModel)]="itemUniquenumber" name="itemUniquenumber"
                class="width135 mright10"><span class="colorRed">*</span>
            </td>
          </tr>
          <tr *ngIf="successMsg">
            <td class="colorGreen mbtm20 f-size13">Item closed successfully.</td>
          </tr>
          <button class="submitBtn" type="submit" >Submit</button>

        </table>
      </div>
    </div>
  </form>
</div>
<br><br><br><br>
