<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-pulse-sync" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div>
    <div class="col-sm-12 mbtm20">
        <h2 class="text-center">Binders Processed Report</h2>
    </div>
    <div *ngIf="binderReportsErr" style="color: red;">{{binderReportsErr}}</div>
    <div>
        <h5 class="f-bold">Item Count = &nbsp;&nbsp;&nbsp;&nbsp; {{bindersLen}}</h5>
    </div>
    <div>
        <h5 class="f-bold">Date Range: &nbsp;&nbsp;&nbsp;&nbsp; {{dateRange.fromDate}} &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp; {{dateRange.toDate}} </h5>  
    </div>
    <div class="mtop70 mbtm20" *ngIf="binderReports.length > 0">
        <table style="width:60%" border=1>
            <tr>
                <th>Item</th>
                <th>Sender</th>
                <th>Sender To Date</th>
                <th>Holder</th>
            </tr>
            <tr *ngFor = "let item of binderReports; let indx = index;">
                <td class="width110"  *ngIf="indx==0" >{{item.itemUniqueId}}</td> 
                <td class="width110" style="border-top-style: hidden;"  *ngIf="indx>0 && binderReports[indx-1].itemUniqueId==item.itemUniqueId" ></td>
                   <td class="width110"   *ngIf="indx>0  && binderReports[indx-1].itemUniqueId!=item.itemUniqueId">{{item.itemUniqueId}}</td>
                    <td>{{item.senderName}}</td>
                    <td>{{item.transactionSuccessTime}}</td>
                    <td>{{item.recieverName}}</td>
                </tr>
           
        </table>
    </div>
    <div class="mtop70 mbtm20" *ngIf="binderReports.length == 0" style="color: red;">

        No data found

    </div>
</div>