<div class="row">
    <!-- <hr class="line"> -->

    <!-- command barcode start -->
    <div class="row">
        <!-- <div class="col-sm-12">
            <div class="loginHeader">Command Barcodes</div>
        </div> -->
        <div class=" mleft40">
            <div>
                <!-- <table class="Tablewidth1 ">
                    <tr *ngFor="let m of commandbar; let i = index">
                        <td>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">{{m.commandName}}</legend>
                                <div>
                                    <ngx-barcode [bc-value]="m.commandName" bc-height="25" 
                                    [bc-display-value]="false">
                                    </ngx-barcode>
                                </div>
                            </fieldset>
                        </td>
                    </tr>

                </table> -->


                <table class="Tablewidth1">
                    <tr>
                   <td align='center' width='300'>
				   
				   	<fieldset class="scheduler-border">
						<legend class="scheduler-border">Login </legend>
                    	<img width='250' height='40' src='../../assets/imgs/login.jpg' alt='image' />
						
                 		</fieldset>
						
						<br/>
						
						<fieldset class="scheduler-border">
						<legend class="scheduler-border">Casebinder</legend>
                    	<img width='250' height='40' src='../../assets/imgs/casebinder.jpg' alt='image' />
						
                 		</fieldset>
						
						<br/>
						
							<fieldset class="scheduler-border">
						<legend class="scheduler-border">Send To </legend>
                    	<img width='250' height='40' src='../../assets/imgs/sendto.jpg' alt='image' />
						
                 		</fieldset>
						
						<br/>
						
							<fieldset class="scheduler-border">
						<legend class="scheduler-border">Save </legend>
                    	<img width='250' height='40' src='../../assets/imgs/savebarcode.jpg' alt='image' />
						
                 		</fieldset>
						
						<br/>
                   
                    
                    
                   </td>
	                </tr>
	                 </table>
               
            </div>
        </div>
        <!-- <hr class="line1"> -->
    </div>
    <!-- command barcode end -->



</div>