<div class="fsize16 f-bold">Edit Item</div>
<div class="hr12"></div>
<div class="row mtop20">
    <form>
        <div class="col-sm-6">
            <p style="color: red">{{errorMessage}}</p>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3">
                    uniqueId
                    <input type="text" name="itemUniqueId"  [readonly]="true" [(ngModel)]="tagData.itemUniqueId" >
                <div class="TagDiv1">
                  
                    <table style="width:100%;">
                        <tr>
                            <td class="Tag1">
                                TAG .
                            </td>
                        </tr>
                        <tr>
                            <td>Name :</td>
                        </tr>
                        <tr>
                            <td>
                                <input name="tagName" [(ngModel)]="tagData.tag.tagName" type="text" style="width: 135px;">
                            </td>
                        </tr>
                        <tr>
                            <td>Deseription:</td>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="tagDesc" [(ngModel)]="tagData.tag.tagDesc" rows="9"
                                    class="color-000"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="m25">
            <button class="submitBtn mright10"  (click)="EditTag(tagData.tag)"
                >SUBMIT</button>
            <button type="button" (click)="cancel()" class="submitBtn">CANCEL</button>
        </div>
    </form>
</div>



<!-- </div>
</div>
<div class="m25">
    <button class="submitBtn mright10">SUBMIT</button>
    <button class="submitBtn">CANCEL</button>
</div>

</div> -->